<form [formGroup]="examplesForm" (ngSubmit)="submitForm()">
  <div class="form-group" formArrayName="examples">
    <app-form-array-list
      elementName="Example"
      [formArray]="formArray"
    ></app-form-array-list>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-sm btn-block"
        [class.btn-dark]="!changed"
        [class.btn-primary]="changed"
        [disabled]="!examplesForm.valid"
      >
        Update<span *ngIf="changed"> (unsaved changes)</span>
      </button>
    </div>
  </div>
</form>
