<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2">Domain</h6>
  <ul class="list-group" *ngIf="combinedList != null">
    <li class="list-group-item" *ngFor="let item of combinedList">
      <span *ngIf="item.status === status.REMOVED" class="text-danger"
        ><del
          >{{ item.domain.name }}<span class="sr-only"> (removed)</span></del
        ></span
      >
      <span *ngIf="item.status === status.ADDED" class="text-success"
        ><ins
          >{{ item.domain.name }}<span class="sr-only"> (added)</span></ins
        ></span
      >
      <span *ngIf="item.status == null">{{ item.domain.name }}</span>
    </li>
  </ul>
</div>
