<div class="my-3 sbmd-panel">
  <h6 class="sbmd-panel-title">Method Composition</h6>
  <p>
    The second stage of Method Composition is used by the Method Engineer to
    compose a development method out of the repositories. The choices are guided
    by the Situational Factors and the Application Domains. This can be done
    Pattern-based or Phase-based.
  </p>

  <p>
    The <b>Pattern-based Composition</b> uses the Method Patterns that are
    combined and filled with the Method Building Blocks. Here, at the beginning,
    one <i>Method Pattern</i> with the initialisation type element is select
    from the repository. Each predefined activity within this pattern can be
    filled with another <i>Method Pattern</i> or a <i>Method Building Block</i>.
    During the composition, the development method is checked for correctness.
  </p>

  <p>
    The <b>Phase-based Composition</b> uses the Phase Elements that are selected
    and filled with the Method Building Blocks. Here, at the beginning, multiple
    <i>Phase Elements</i> that like to used used are selected from the
    repository. Each phase is filled with corresponding
    <i>Method Building Blocks</i> for the phase. During the composition, the
    development method is checked for correctness.
  </p>
</div>

<div class="sbmd-panel">
  <app-carousel [images]="images"></app-carousel>
</div>
