<ul
  [class.no-list]="levelDepth === 1"
  class="list-group"
  style="margin-top: 5px; margin-left: 5px"
>
  <li>
    <ng-container *ngIf="instance.usedFeatures.includes(feature.id)">
      <strong
        *ngIf="levelDepth === 1"
        [class.text-success]="
          (compareInstance &&
            !compareInstance.usedFeatures.includes(feature.id)) ||
          (showStrengths && conformance.strengthFeatureIds.includes(feature.id))
        "
        [class.text-danger]="conformance.errorFeatureIds.includes(feature.id)"
        [class.text-warning]="
          conformance.warningFeatureIds.includes(feature.id) && showWarnings
        "
      >
        {{ feature.name }}
      </strong>
      <span
        *ngIf="levelDepth !== 1"
        [class.text-success]="
          (compareInstance &&
            !compareInstance.usedFeatures.includes(feature.id)) ||
          (showStrengths &&
            conformance.strengthFeatureIds.includes(feature.id)) ||
          (patternInstance && patternInstance.usedFeatures.includes(feature.id))
        "
        [class.text-danger]="conformance.errorFeatureIds.includes(feature.id)"
        [class.text-warning]="
          conformance.warningFeatureIds.includes(feature.id) && showWarnings
        "
        >{{ feature.name }}</span
      >
      <i
        class="fas fa-plus-square ml-2"
        *ngIf="editable"
        (click)="addFeature(feature.id)"
      ></i>
      <i
        class="fas fa-minus-square ml-2"
        *ngIf="feature.parent !== null && editable"
        (click)="deleteFeature(feature.id)"
      ></i>
      <small
        *ngIf="
          percentages &&
          asList(feature.subfeatures).length > 0 &&
          compareInstance &&
          compareInstance.usedFeatures.includes(feature.id) &&
          instance.usedFeatures.includes(feature.id)
        "
        class="text-muted ml-1"
        >{{ percentages[feature.id] | number: '.2-2' }}&nbsp;%</small
      >
    </ng-container>
    <em
      *ngIf="!instance.usedFeatures.includes(feature.id)"
      [class.text-danger]="
        conformance.errorFeatureIds.includes(feature.id) ||
        (compareInstance &&
          compareInstance.usedFeatures.includes(feature.id)) ||
        (patternInstance && patternInstance.usedFeatures.includes(feature.id))
      "
      [class.text-success]="
        conformance.hintFeatureIds.includes(feature.id) && showHints
      "
      [class.text-muted]="
        conformance.patternHintFeatureIds.includes(feature.id) &&
        showPatternHints
      "
      >{{ feature.name }}</em
    >
    <span *ngFor="let f of asList(feature.subfeatures)">
      <app-canvas-building-block
        [feature]="f"
        [instance]="instance"
        *ngIf="
          instance.usedFeatures.includes(f.id) ||
          conformance.errorFeatureIds.includes(f.id) ||
          (conformance.warningFeatureIds.includes(f.id) && showWarnings) ||
          (conformance.strengthFeatureIds.includes(f.id) && showStrengths) ||
          (conformance.hintFeatureIds.includes(f.id) && showHints) ||
          (conformance.patternHintFeatureIds.includes(f.id) &&
            showPatternHints) ||
          (compareInstance && compareInstance.usedFeatures.includes(f.id)) ||
          (patternInstance && patternInstance.usedFeatures.includes(f.id))
        "
        [levelDepth]="levelDepth + 1"
        [conformance]="conformance"
        [showWarnings]="showWarnings"
        [showStrengths]="showStrengths"
        [showHints]="showHints"
        [showPatternHints]="showPatternHints"
        [compareInstance]="compareInstance"
        [percentages]="percentages"
        [patternInstance]="patternInstance"
        [editable]="editable"
        (addFeatureEmitter)="addFeatureForwardEmitter($event)"
        (deleteFeatureEmitter)="deleteFeatureForwardEmitter($event)"
      ></app-canvas-building-block>
    </span>
  </li>
</ul>
