<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" [routerLink]="[]">Canvas Elements</a>
  </nav>
</div>

<main role="main" class="container">
  <div class="my-3 alert alert-info">
    All canvas elements, except for domains, are directly defined while creating
    canvas building blocks.
  </div>

  <app-list-wrapper listTitle="Canvas Elements">
    <div results class="list-group">
      <a
        class="list-group-item list-group-item-action d-flex"
        [routerLink]="['/', 'domains']"
      >
        <div>Domains</div>
        <div class="ml-auto">
          <div class="btn btn-dark btn-xs">View</div>
        </div>
      </a>
    </div>
  </app-list-wrapper>
</main>
