<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h2 class="border-bottom border-gray pb-2">Method Engineer Role</h2>
  <p>
    The Method Engineer Role is used to define Business Model Development
    Methods.
  </p>
  <p class="mb-0">The process to do this is separated into multiple steps:</p>
  <ol class="mb-0">
    <li>
      <a [routerLink]="['/', 'methodElements']">
        Create Method Elements in the Method Repository
      </a>
    </li>
    <li>
      <a [routerLink]="['/', 'methods']">
        Assemble Method Building Blocks from these Method Elements
      </a>
    </li>
    <li>
      <a [routerLink]="['/', 'process']">
        Create Method Patterns that will be used to connect different Method
        Building Blocks
      </a>
    </li>
    <li>
      <a [routerLink]="['/', 'bmprocess']">
        Compose Business Model Development Methods by selecting Method Patterns
        and filling them with Method Building Blocks
      </a>
    </li>
  </ol>
</div>
