<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a *ngIf="companyModel" class="nav-link"
       [routerLink]="['/companyModels', companyModel._id]">View {{companyModel.name}}</a>
    <a *ngIf="companyModel" class="nav-link active"
       [routerLink]="['/companyModels', companyModel._id, 'edit']">Edit {{companyModel.name}}</a>
  </nav>
</div>

<main *ngIf="companyModel" role="main" class="container">
  <app-feature-model-edit [featureModel]="companyModel"
                          (updateFeatureModel)="updateCompanyModel()"></app-feature-model-edit>
</main>
