<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" [routerLink]="['/', 'companyModels']">
      Composed Models
    </a>
    <a
      *ngIf="companyModel"
      class="nav-link"
      [routerLink]="['/', 'companyModels', companyModel._id]"
    >
      {{ companyModel.name }}
    </a>
    <a *ngIf="companyModel" class="nav-link active" [routerLink]="[]">Edit</a>
  </nav>
</div>

<main *ngIf="companyModel" role="main" class="container">
  <app-feature-model-edit
    [featureModel]="companyModel"
    (updateFeatureModel)="updateCompanyModel()"
  ></app-feature-model-edit>
</main>
