<ng-template
  #situationalFactorSelectionForm
  let-remove="remove"
  let-formGroup="formGroup"
  let-index="index"
>
  <app-situational-factor-selection-form
    [index]="index"
    [formGroup]="formGroup"
    [methodElements]="methodElements"
    [listNames]="listNames"
    (remove)="remove(index)"
  ></app-situational-factor-selection-form>
</ng-template>

<form [formGroup]="situationalFactorsForm" (ngSubmit)="submitForm()">
  <app-method-elements-selection-form
    idPrefix="situational-factors"
    class="mb-3"
    formArrayName="situationalFactors"
    [createFormGroupFactory]="createFormGroupFactory"
    [listNames]="listNames"
    [methodElementFormTemplate]="situationalFactorSelectionForm"
    [methodElements]="methodElements"
    methodElementName="Situational Factor"
  ></app-method-elements-selection-form>
  <div class="d-grid">
    <button
      id="situational-factors-selection-form-update"
      type="submit"
      class="btn btn-sm"
      [class.btn-dark]="!changed"
      [class.btn-primary]="changed"
      [disabled]="!situationalFactorsForm.valid"
    >
      Update<span *ngIf="changed"> (unsaved changes)</span>
    </button>
  </div>
</form>
