<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Model Info</h6>
  <table class="table table-sm mb-0" style="table-layout: fixed">
    <tbody>
    <tr class="table-borderless">
      <th scope="row" style="width: 250px">Name</th>
      <td>{{ featureModel.name }}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{ featureModel.description }}</td>
    </tr>
    <tr>
      <th scope="row">Type</th>
      <td>{{ featureModel.hasOwnProperty('version') ? 'Expert Model' : 'Company Model' }}</td>
    </tr>
    <tr *ngIf="featureModel.hasOwnProperty('version')">
      <th scope="row">Version</th>
      <td>{{ $any(featureModel).version }}</td>
    </tr>
    <tr *ngIf="featureModel.copyright">
      <th scope="row">Copyright</th>
      <td>{{ featureModel.copyright }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="featureModel.author && featureModel.author.name"
  class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Author Info</h6>
  <table class="table table-sm mb-0" style="table-layout: fixed">
    <tbody>
    <tr class="table-borderless">
      <th scope="row" style="width: 250px">Name</th>
      <td>{{ featureModel.author.name }}</td>
    </tr>
    <tr *ngIf="featureModel.author.company">
      <th scope="row">Company</th>
      <td>{{ featureModel.author.company }}</td>
    </tr>
    <tr *ngIf="featureModel.author.email">
      <th scope="row">Email</th>
      <td>{{ featureModel.author.email }}</td>
    </tr>
    <tr *ngIf="featureModel.author.website">
      <th scope="row">Website</th>
      <td>{{ featureModel.author.website }}</td>
    </tr>
    </tbody>
  </table>
</div>
