<form [formGroup]="evidenceCostsForm" (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label for="maxEvidence" class="col-sm-4 col-form-label"
      >Maximum Evidence</label
    >
    <div class="col-sm-8">
      <ngb-rating
        class="rating"
        id="maxEvidence"
        formControlName="maxEvidence"
        [max]="5"
      ></ngb-rating>
    </div>
  </div>

  <div class="form-group row">
    <label for="costs" class="col-sm-4 col-form-label">Costs</label>
    <div class="col-sm-8">
      <ng-template #costsIcon let-fill="fill">
        <i class="fas fa-circle" *ngIf="fill === 100"></i>
        <i class="far fa-circle" *ngIf="fill !== 100"></i>
      </ng-template>
      <ngb-rating
        class="rating"
        id="costs"
        formControlName="costs"
        [starTemplate]="costsIcon"
        [max]="5"
      ></ngb-rating>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-dark btn-block"
        [disabled]="!evidenceCostsForm.valid"
      >
        Set maximum Evidence and Costs
      </button>
    </div>
  </div>
</form>
