<ng-template #deleteModal>
  <app-delete-feature-confirm
    [feature]="modalFeature"
    (deletionResult)="deleteFeature($event)"
    (closeModal)="closeModal()"></app-delete-feature-confirm>
</ng-template>

<ng-template #updateModal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalFeature.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-muted pt-3">
      <app-feature-form
        [feature]="modalFeature"
        [disabledSubfeatures]="modalSubfeatureIds"
        [featureList]="companyFeatureList"
        (submitFeatureForm)="updateFeature($event)"></app-feature-form>
    </div>
  </div>
</ng-template>

<ng-template #dependencyModal>
  <app-cross-tree-relationship-modal
    [feature]="modalFeature"
    [featureModel]="modalFeatureModel"
    [companyModel]="modalFeatureModel._id === expertModel._id ? companyModel : null"
    (addRelationshipOnCompanyModel)="addDependency($event.type, $event.fromFeatureId, $event.toFeatureId)"
    (closeModal)="closeModal()"
    (removeRelationship)="deleteDependency($event.type, $event.fromFeatureId, $event.toFeatureId)"></app-cross-tree-relationship-modal>
</ng-template>


<ng-template #traceModal>
  <app-trace-modal [feature]="modalFeature" [tracedFeature]="modalTracedFeature" (closeModal)="closeModal()"
                   (deleteTrace)="deleteTrace()"></app-trace-modal>
</ng-template>


<ng-template #mergeModal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalFeature.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-muted pt-3">
      <app-feature-form [feature]="modalFeature" [featureList]="companyFeatureList"
                        [enabledSubfeatures]="modalSubfeatureIds" submitButtonText="Merge Feature"
                        (submitFeatureForm)="mergeFeature($event)"></app-feature-form>
    </div>
  </div>
</ng-template>


<ng-template #addAllModal>
  <div class="modal-header">
    <h4 class="modal-title">Add all subfeatures of {{modalFeature ? modalFeature.name : 'the model'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <p>This will add all subfeatures of {{modalFeature ? modalFeature.name : 'the model'}} to the company model
        as new features if they are not merged yet.</p>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-block btn-warning" (click)="addAll(modalFeature ? modalFeature.id : null)">
      Add all
    </button>
  </div>
</ng-template>


<ng-template #selectModal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalFeature.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-muted pt-3">
      <form [formGroup]="modalSelectFeatureForm" (ngSubmit)="mergeIntoSelected()">

        <div class="form-group row">
          <label for="feature" class="col-sm-4 col-form-label">Select feature</label>
          <div class="col-sm-8">
            <select id="feature" formControlName="feature" class="form-control">
              <option *ngFor="let fl of companyFeatureList; let i = index"
                      [disabled]="!modalSubfeatureIds.includes(fl.id)"
                      [ngValue]="fl.id">{{fl.levelname}}
              </option>
            </select>

          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-dark btn-block" [disabled]="!modalSelectFeatureForm.valid">
              Merge Feature
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #featurerow let-id="id">
  <div class="row">
    <div class="col-sm-6">
      <app-merge-tree *ngIf="expertModel && expertModel.features"
                      [features]="{id: expertModel.features[id]}"
                      [trace]="companyModel.expertModelTraces[expertModelId]"
                      (addTrace)="openMergeModal($event)"
                      (openDependencies)="openDependenciesModalExpertModel($event)"
                      (selectFeature)="openSelectModal($event)"
                      (addAll)="openAddAllModal($event)"
                      (openTrace)="openExpertTraceModal($event)"></app-merge-tree>
    </div>
    <div class="col-sm-6">
      <app-merge-into-tree *ngIf="companyModel && companyModel.features" [expertModelId]="expertModelId"
                           [openPanels]="companyOpenPanels"
                           [features]="{id: companyModel.features[id]}"
                           (openDependencies)="openDependenciesModalCompanyModel($event)"
                           (openTrace)="openTraceModal($event)"
                           (updateFeature)="openUpdateFeatureModal($event)"
                           (deleteFeature)="openDeleteFeatureModal($event)"></app-merge-into-tree>
    </div>
  </div>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a *ngIf="companyModel" class="nav-link"
       [routerLink]="['/companyModels', companyModel._id]">View {{companyModel.name}}</a>
    <a *ngIf="companyModel" class="nav-link"
       [routerLink]="['/companyModels', companyModel._id, 'edit']">Edit {{companyModel.name}}</a>
    <a *ngIf="expertModel" class="nav-link active" [routerLink]="[]">Merge {{expertModel.name}}</a>
  </nav>
</div>

<main *ngIf="expertModel && companyModel" role="main">
  <!-- List of Features -->
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Merge Model List</h6>

    <div class="alert alert-info container" role="alert">
      <p>Merge all features from the expert knowledge model on the left into the company knowledge model on the right.
        This can be done in three different ways:</p>
      <ul>
        <li>Add all: Add all subfeatures that are not yet merged to the company knowledge model.</li>
        <li>Add: Add the feature to the company knowledge model. Opens a pre filled feature form to adjust the
          feature.
        </li>
        <li>Select: Select the corresponding feature in the company knowledge model. This just creates a trace.</li>
      </ul>
    </div>

    <div class="alert alert-warning container" role="alert" *ngIf="!isFullyMerged">
      Not all features are merged yet.
    </div>

    <div class="alert alert-success container" role="alert" *ngIf="isFullyMerged">
      All features are merged.
    </div>

    <button type="button" class="btn btn-warning btn-xs mr-1" (click)="openAddAllModal(null)">
      Add all
    </button>

    <ng-container *ngFor="let id of asKeys(companyModel.features)">
      <ng-container *ngTemplateOutlet="featurerow; context: {id: id}"></ng-container>
    </ng-container>

    <div class="row">
      <div class="col-4"><strong>Legend:</strong></div>
      <div class="col-4"><i class="fa fa-circle"></i> Mandatory Feature</div>
      <div class="col-4"><i class="fa fa-circle-o"></i> Optional Feature</div>
    </div>
    <div class="row">
      <div class="col-4">&nbsp;</div>
      <div class="col-4"><i class="fa fa-caret-up"></i> Or</div>
      <div class="col-4"><i class="fa fa-angle-up"></i> Alternative (Xor)</div>
    </div>
  </div>
</main>
