<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" [routerLink]="['/', 'bmprocess']"
      >Business Model Development Methods</a
    >
    <a class="nav-link active" *ngIf="bmProcess" [routerLink]="[]">{{
      bmProcess.name
    }}</a>
  </nav>
</div>

<main *ngIf="bmProcess" role="main">
  <div
    class="alert alert-info container mt-3"
    role="alert"
    *ngIf="!bmProcess.initial"
  >
    <p>
      On this page it is possible to create a Business Model Development Method.
      You already defined the development context on the bottom of the page,
      which will later be used to check situational factors. Now start with the
      definition of the Method by clicking on the start event and then, on the
      add button to select a Method Pattern as a starting point.
    </p>

    <p>
      After that, you can append more patterns when selecting the added Method
      Pattern or insert Method Patterns into activities by selecting the
      activity and then selecting the insert icon. This is only possible if the
      corresponding activity has a plus symbol and is thus a call activity.
      Otherwise it is only possible to insert Method Building Blocks into the
      activity by selecting the database icon when an activity is selected.
    </p>

    <p class="mb-0">
      Additionally, it is possible to get an overview of an inserted Method
      Building Block by selecting the corresponding activity and selecting the
      info icon. There it is also possible to select which groups of artifacts
      and stakeholders to use and which concrete Method Elements to use.
    </p>
  </div>

  <app-bm-process-edit-diagram
    *ngIf="!bmProcess.initial"
    [bmProcess]="bmProcess"
    (saveBmProcess)="saveBmProcess($event.processDiagram, $event.decisions)"
    (appendProcessPattern)="
      appendProcessPattern($event.nodeId, $event.processPattern)
    "
    (insertProcessPattern)="
      insertProcessPattern($event.nodeId, $event.processPattern)
    "
    (deleteProcessPattern)="deleteProcessPattern($event)"
    (insertDevelopmentMethod)="
      insertDevelopmentMethod($event.nodeId, $event.developmentMethod)
    "
    (removeDevelopmentMethod)="removeDevelopmentMethod($event)"
  ></app-bm-process-edit-diagram>

  <div class="container">
    <div class="my-3 alert alert-info" *ngIf="bmProcess.initial">
      Start by defining the context of your business model.
    </div>

    <app-context-edit
      [finishAllowed]="bmProcess.initial"
      [domains]="bmProcess.domains"
      [situationalFactors]="bmProcess.situationalFactors"
      (updateDomains)="updateDomains($event)"
      (updateSituationalFactors)="updateSituationalFactors($event)"
      (finishInitialization)="finishInitialization()"
    ></app-context-edit>
  </div>
</main>
