<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" *ngIf="bmProcess">
    <a class="nav-link active" [routerLink]="[]">{{ bmProcess.name }}</a>
  </nav>
</div>

<main *ngIf="bmProcess" role="main">
  <div
    class="alert alert-info container mt-3"
    role="alert"
    *ngIf="!bmProcess.initial"
  >
    <p>
      On this page it is possible to create a Business Model Development Method.
      You already defined the development context on the bottom of the page,
      which will later be used to check situational factors. Now start with the
      definition of the Method by clicking on the start event and then, on the
      add button to select a Method Pattern as a starting point.
    </p>

    <p>
      After that, you can append more patterns when selecting the added Method
      Pattern or insert Method Patterns into activities by selecting the
      activity and then selecting the insert icon. This is only possible if the
      corresponding activity has a plus symbol and is thus a call activity.
      Otherwise it is only possible to insert Method Building Blocks into the
      activity by selecting the database icon when an activity is selected.
    </p>

    <p class="mb-0">
      Additionally, it is possible to get an overview of an inserted Method
      Building Block by selecting the corresponding activity and selecting the
      info icon. There it is also possible to select which groups of artifacts
      and stakeholders to use and which concrete Method Elements to use.
    </p>
  </div>

  <app-bm-process-diagram
    *ngIf="!bmProcess.initial"
    [bmProcess]="bmProcess"
    (saveBmProcess)="saveBmProcess($event.processDiagram, $event.decisions)"
  ></app-bm-process-diagram>

  <div class="container">
    <div class="my-3 alert alert-info" *ngIf="bmProcess.initial">
      Start by defining the context of your business model.
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Context</h6>
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2">Domain</h6>
        <div class="alert alert-info">
          Select the domains that are related to your business model. They are
          later used to select fitting canvas building blocks.
        </div>
        <div class="text-muted">
          <app-domains-selection-form
            [domains]="bmProcess.domains"
            (submitDomainsForm)="updateDomains($event.value)"
          ></app-domains-selection-form>
        </div>
      </div>
      <div class="mt-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2">Situational Factors</h6>
        <div class="alert alert-info">
          Select situational factors to describe the current situation of your
          company, problem, market, etc. They are later used to help you to
          select fitting method patterns and building blocks.
        </div>
        <div class="text-muted">
          <app-situational-factors-selection-form
            [situationalFactors]="bmProcess.situationalFactors"
            (submitSituationalFactorsForm)="
              updateSituationalFactors($event.value)
            "
          ></app-situational-factors-selection-form>
        </div>
      </div>

      <button
        *ngIf="bmProcess.initial"
        (click)="finishInitialization()"
        type="submit"
        class="btn btn-sm btn-block btn-primary mt-3"
      >
        Finish definition of the context
      </button>
    </div>
  </div>
</main>
