<div class="text-muted" [formGroup]="formGroup">
  <div *ngIf="!moduleDefinedInTools" class="alert alert-danger my-3">
    The used module is not defined in Tools!
  </div>
  <div *ngIf="stepError != null" class="alert alert-danger my-3">
    {{ stepError }}
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="moduleInput">Module</label>
      <input
        type="text"
        formControlName="module"
        class="form-control"
        [class.is-invalid]="moduleControl.invalid"
        id="moduleInput"
        [ngbTypeahead]="searchModule"
        [editable]="false"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        (click)="openModuleInput.next($any($event.target).value)"
        (focus)="openModuleInput.next($any($event.target).value)"
      />
    </div>
    <div class="form-group col">
      <label for="methodInput">Method</label>
      <input
        type="text"
        formControlName="method"
        class="form-control"
        [class.is-invalid]="methodControl.invalid"
        id="methodInput"
        [ngbTypeahead]="searchMethod"
        [editable]="false"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        (click)="openMethodInput.next($any($event.target).value)"
        (focus)="openMethodInput.next($any($event.target).value)"
      />
    </div>
  </div>
  <h5
    *ngIf="
      selectedMethod != null &&
      selectedMethod.configurationFormComponent != null
    "
  >
    Predefined Values
  </h5>
  <ng-template appConfigurationFormPlaceholder></ng-template>
  <ng-container
    *ngIf="selectedMethod != null && selectedMethod.input.length > 0"
  >
    <h5>Input Artifacts</h5>
    <ul class="list-group mb-3">
      <li
        class="list-group-item"
        *ngFor="let input of selectedMethod.input; let index = index"
      >
        <b [class.text-danger]="!artifactInputs[index].complete">{{
          input.name
        }}</b>
        <div *ngIf="artifactInputs[index].inputs.length === 0">
          No input for this artifact defined
        </div>
        <div
          *ngIf="
            artifactInputs[index].inputs.length > 0 &&
            !artifactInputs[index].complete
          "
        >
          You need to define either one step before this step that provides the
          artifact or there is at least one mapping from each input artifact
          group to this artifact.
        </div>
        <div *ngIf="artifactInputs[index].inputs.length > 0">
          Input from:
          <ul>
            <li *ngFor="let from of artifactInputs[index].inputs">
              {{ from.isStep ? 'Step' : 'Input Group' }} #{{
                from.index + 1
              }}
              Artifact #{{ from.artifact + 1 }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="selectedMethod && selectedMethod.output.length > 0">
    <h5>Output Artifacts</h5>
    <ul formArrayName="outputMappings" class="list-group mb-3">
      <li
        *ngFor="let output of selectedMethod.output; let index = index"
        class="list-group-item"
      >
        <b>{{ output.name }}</b>
        <app-development-method-artifact-mappings
          [executionStepsFormValue]="executionStepsFormValue"
          [developmentMethod]="developmentMethod"
          formArrayName="{{ index }}"
          [metaModel]="output"
          [stepNumber]="stepNumber"
        ></app-development-method-artifact-mappings>
      </li>
    </ul>
  </ng-container>
  <div class="d-flex">
    <button class="btn btn-dark ml-auto" (click)="remove.emit()">Remove</button>
  </div>
</div>
