<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-xl-0" [routerLink]="['/']">SBMD</a>
  <button
    class="navbar-toggler p-0 border-0"
    type="button"
    aria-controls="bmdlNavbar"
    [attr.aria-expanded]="navExpanded"
    aria-label="Toggle navigation"
    (click)="navExpanded = !navExpanded"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [class.open]="navExpanded"
    class="navbar-collapse offcanvas-collapse"
    id="bmdlNavbar"
  >
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let navItem of navItems">
        <ng-container *ngIf="navItem.roles.includes(currentRole)">
          <li
            *ngIf="!isMenuItem(navItem)"
            class="nav-item"
            routerLinkActive="active"
            #itemActive="routerLinkActive"
          >
            <a class="nav-link text-nowrap" [routerLink]="navItem.route">
              {{ navItem.name }}
              <span *ngIf="itemActive.isActive" class="sr-only">(current)</span>
            </a>
          </li>
          <li *ngIf="isMenuItem(navItem)" class="nav-item" ngbDropdown>
            <a
              class="nav-link"
              type="button"
              id="dropdown"
              ngbDropdownToggle
              role="button"
            >
              {{ navItem.name }}
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <a
                *ngFor="let item of navItem.submenu"
                [routerLink]="item.route"
                ngbDropdownItem
                routerLinkActive="active"
                #active="routerLinkActive"
                >{{ item.name }}
                <span *ngIf="active.isActive" class="sr-only"
                  >(current)</span
                ></a
              >
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <form [formGroup]="roleForm" class="form-inline my-2 my-xl-0">
      <label for="roleSelector" class="mr-2 text-light">Role</label>
      <select formControlName="role" class="form-control" id="roleSelector">
        <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
      </select>
    </form>
  </div>
</nav>
