<div class="modal-header">
  <h4 class="modal-title" *ngIf="artifact != null && version != null">
    Version #{{ versionNumber }} of {{ artifact.identifier }} &ndash;
    {{ artifact.artifact.name }}
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="dismiss.emit()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="version != null && isStringType">
    <h5>Note</h5>
    <quill-view [content]="version.data.data"></quill-view>
  </ng-container>
  <ng-container *ngIf="version != null && isReferenceType">
    <h5>Reference</h5>
    This version points on another object in the database.
    <button class="btn btn-xs btn-primary" (click)="viewArtifactVersion.emit()">
      View
    </button>
    <button
      *ngIf="version.editing || isLatestVersion"
      class="ml-2 btn btn-xs btn-secondary"
      (click)="editArtifactVersion.emit()"
    >
      Edit
    </button>
  </ng-container>
</div>
