<main role="main" class="container">
  <app-profile *ngIf="!isLocalDatabase()"></app-profile>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h1 class="border-bottom border-gray pb-2">
      Situational Business Model Developer
    </h1>
    <p>
      Welcome to the Situational Business Model Developer (SBMD). The SBMD
      allows the development of business models by taking the context of the
      company and the product/service into account.
    </p>
    <p class="mb-0">
      A detailed explanation is given
      <a [routerLink]="['/', 'explanation']">here</a>.
    </p>
  </div>

  <app-start-business-developer
    *ngIf="currentRole === roles.BUSINESSDEVELOPER"
  ></app-start-business-developer>
  <app-start-method-engineer
    *ngIf="currentRole === roles.EXPERT"
  ></app-start-method-engineer>
</main>
