<ng-template #errorProcessModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Error instantiating Method</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close Window</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger">
      This Business Model Development Method cannot be instantiated, because it
      is not completely defined. You first have to define it completely. More
      information is available in the error panel in the
      <a
        [routerLink]="[]"
        [queryParamsHandling]="'preserve'"
        (click)="goToEdit(); d()"
        >Edit step</a
      >. As long as this Business Model Development Method is not completely
      defined, you cannot finish the context change.
    </div>
  </div>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" [routerLink]="['/', 'bmprocess']"
      >Business Model Development Methods</a
    >
    <a *ngIf="runningProcess" class="nav-link active" [routerLink]="[]"
      >Context Change: {{ runningProcess.process.name }} &ndash;
      {{ runningProcess.name }}</a
    >
  </nav>
</div>

<main role="main">
  <div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2">Steps</h6>
      <ul
        ngbNav
        (navChange)="navChange($event)"
        #nav="ngbNav"
        class="nav-pills nav-justified"
      >
        <li ngbNavItem="stepView" #stepView="ngbNavItem">
          <a ngbNavLink>1. Adapt context</a>
          <ng-template ngbNavContent>
            View the request from the business developer and adapt the context
            accordingly.
          </ng-template>
        </li>
        <li ngbNavItem="stepEdit" #stepEdit="ngbNavItem">
          <a ngbNavLink>2. Edit method</a>
          <ng-template ngbNavContent>
            Edit the method to fit it to the new context.
          </ng-template>
        </li>
        <li ngbNavItem="stepRun" #stepRun="ngbNavItem">
          <a ngbNavLink>3. Adapt enaction</a>
          <ng-template ngbNavContent>
            Adapt the enaction of the method. Re-Run some methods and set the
            pointer for the current execution.
          </ng-template>
        </li>
        <li ngbNavItem="stepFinish" #stepFinish="ngbNavItem">
          <a ngbNavLink>4. Finish context change</a>
          <ng-template ngbNavContent>
            Re-check whether the requests from the business developer are
            fulfilled. Additionally, check whether the method is valid. After
            that, finish the context change and give the method back to the
            business developer.
          </ng-template>
        </li>
      </ul>
      <div class="mt-1" [ngbNavOutlet]="nav"></div>
    </div>
  </div>

  <ng-container *ngIf="runningProcess != null">
    <app-running-process-context-view
      *ngIf="stepView.active"
      [runningProcess]="runningProcess"
    ></app-running-process-context-view>

    <app-running-process-context-edit
      *ngIf="stepEdit.active"
      [runningProcess]="runningProcess"
    ></app-running-process-context-edit>

    <app-running-process-context-run
      *ngIf="stepRun.active"
      [runningProcess]="runningProcess"
    ></app-running-process-context-run>

    <app-running-process-context-finish
      *ngIf="stepFinish.active"
      [runningProcess]="runningProcess"
    ></app-running-process-context-finish>

    <div class="container">
      <div
        class="my-3 p-3 bg-white rounded shadow-sm"
        *ngIf="!stepFinish.active"
      >
        <h6 class="border-bottom border-gray pb-2">Next</h6>
        <button
          (click)="nextStep()"
          type="submit"
          class="btn btn-sm btn-block btn-primary mt-3"
        >
          Update all and next step
        </button>
      </div>
      <div
        class="my-3 p-3 bg-white rounded shadow-sm"
        *ngIf="stepFinish.active"
      >
        <h6 class="border-bottom border-gray pb-2">Finish</h6>
        <button
          (click)="finishContextChange()"
          type="submit"
          class="btn btn-sm btn-block btn-primary mt-3"
        >
          Finish context change
        </button>
      </div>
    </div>
  </ng-container>
</main>
