<ng-template #deleteExpertModelModal let-d="dismiss" let-c="close">
  <app-delete-modal
    *ngIf="modalExpertModel != null"
    (dismiss)="d()"
    (delete)="deleteExpertModel(modalExpertModel._id); c()"
  >
    <div modalTitle>
      Delete Canvas Building Block {{ modalExpertModel.name }}
    </div>
    You are deleting the canvas building block {{ modalExpertModel.name }}. This
    can not be undone.
  </app-delete-modal>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" [routerLink]="[]">Canvas Building Blocks</a>
  </nav>
</div>

<main role="main" class="container">
  <div class="my-3 alert alert-info">
    Canvas building blocks are used to represent the knowledge of experts about
    a certain domain.
  </div>

  <app-model-list
    class="expert-model-list"
    modelListTitle="Canvas Building Blocks"
    modelFormTitle="Add Canvas Building Block"
    (viewModel)="viewExpertModel($event)"
    (editModel)="editExpertModel($event)"
    (deleteModel)="openDeleteExpertModelModal($event)"
    (addModel)="
      addExpertModel($event.definition, $event.name, $event.description)
    "
  ></app-model-list>

  <app-model-import-view
    formTitle="Import Canvas Building Block"
    [importExpertModel]="true"
    (imported)="reload()"
  ></app-model-import-view>
</main>
