<div class="modal-header">
  <h4 class="modal-title">
    <span *ngIf="hypothesis != null && !add">{{ hypothesis.name }}</span>
    <span *ngIf="add">Add Hypothesis</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div
  class="modal-body"
  *ngIf="(add || hypothesis != null) && hypothesisList != null"
>
  <div class="text-muted pt-3">
    <app-hypothesis-form
      [hypothesis]="hypothesis"
      [hypothesisList]="hypothesisList"
      [submitButtonText]="add ? 'Add Hypothesis' : 'Update Hypothesis'"
      (submitHypothesisForm)="updateHypothesis.emit($event)"
    ></app-hypothesis-form>
  </div>
</div>
