<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" *ngIf="tool">
    <a class="nav-link active" [routerLink]="[]">{{ tool.name }}</a>
  </nav>
</div>

<main class="container" *ngIf="tool">
  <div class="alert alert-info mt-3" role="alert">
    Update a Tool and define its values.
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Tool</h6>
    <div class="text-muted">
      <app-method-element-form
        [methodElement]="tool"
        [listNames]="listNames"
        (submitMethodElementForm)="updateValue($event.value)"
      ></app-method-element-form>
    </div>
  </div>
</main>
