<ng-template #deleteItemModal let-d="dismiss" let-c="close">
  <app-delete-modal
    *ngIf="modalItem != null"
    (dismiss)="d()"
    (delete)="deleteInstance.emit(modalItem.id); c()"
  >
    <div modalTitle>
      Delete {{ getInstanceTypeName(modalItem.type) }} {{ modalItem.name }}
    </div>
    You are deleting the {{ getInstanceTypeName(modalItem.type) }}
    {{ modalItem.name }}. This cannot be undone.
  </app-delete-modal>
</ng-template>

<!-- View instances -->
<div class="my-3 sbmd-panel">
  <h6 class="sbmd-panel-title">{{ elementNamePlural }}</h6>
  <div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let instance of instances">
        <app-list-item
          [item]="instance"
          [viewLink]="viewLinkFunction(instance)"
          (delete)="openDeleteItemModal(instance)"
        ></app-list-item>
      </li>
    </ul>
  </div>
</div>

<!-- Add instance -->
<div class="my-3 sbmd-panel">
  <h6 class="sbmd-panel-title">Add {{ elementName }}</h6>
  <div class="sbmd-form-wrapper">
    <form [formGroup]="form" (ngSubmit)="addInstanceForwardEmitter()">
      <div class="mb-3 row">
        <label for="name" class="col-sm-4 col-form-label"
          >{{ elementName }} Name</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            formControlName="name"
            class="form-control"
            id="name"
          />
        </div>
      </div>
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          [disabled]="!form.valid"
        >
          Add {{ elementName }}
        </button>
      </div>
    </form>
  </div>
</div>
