<form [formGroup]="descriptionForm" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea
      formControlName="description"
      class="form-control"
      id="description"
      rows="3"
    ></textarea>
  </div>
  <div class="d-grid">
    <button
      type="submit"
      class="btn btn-sm"
      [class.btn-dark]="!changed"
      [class.btn-primary]="changed"
      [disabled]="!descriptionForm.valid"
    >
      Update Description<span *ngIf="changed"> (unsaved changes)</span>
    </button>
  </div>
</form>
