<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="form-check" *ngIf="groupFormGroups.length > 0">
    <input
      #allowNoneInput
      class="form-check-input"
      type="checkbox"
      formControlName="allowNone"
      id="checkboxAllowNone{{ methodElementName }}-{{
        developmentMethod != null ? 1 : 0
      }}"
    />
    <label class="form-check-label" [for]="allowNoneInput.id">
      Allow None
    </label>
  </div>
  <div class="form-group" formGroupName="groups">
    <div
      *ngFor="let groupFormGroup of groupFormGroups; let index = index"
      [formGroup]="groupFormGroup"
      class="mt-3 p-3 mb-3 bg-white rounded shadow-sm"
    >
      <div
        class="
          d-flex
          align-items-baseline
          justify-content-between
          border-bottom border-gray
          mb-2
        "
      >
        <h6 class="pb-2 mb-0">
          Group<span *ngIf="isDefaultGroup(index)"> (default group)</span>
        </h6>
        <button
          *ngIf="!isDefaultGroup(index)"
          class="btn btn-xs btn-dark"
          (click)="setDefaultGroup(index)"
          type="button"
        >
          Set Default
        </button>
        <button
          *ngIf="isDefaultGroup(index)"
          class="btn btn-xs btn-dark"
          (click)="unsetDefaultGroup()"
          type="button"
        >
          Unset Default
        </button>
      </div>
      <app-group-form
        class="form-group"
        [listNames]="listNames"
        [methodElementName]="methodElementName"
        [developmentMethod]="developmentMethod"
        [methodElements]="methodElements"
      ></app-group-form>
      <div class="form-group d-flex">
        <button
          (click)="removeGroup(index)"
          type="button"
          class="btn btn-secondary ml-auto"
        >
          Remove OR Group
        </button>
      </div>
    </div>
  </div>
  <div class="form-group d-flex">
    <button
      (click)="addGroup()"
      type="button"
      class="btn btn-secondary ml-auto"
    >
      Add OR Group
    </button>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-sm btn-block"
        [class.btn-dark]="!changed"
        [class.btn-primary]="changed"
        [disabled]="!form.valid"
      >
        Update<span *ngIf="changed"> (unsaved changes)</span>
      </button>
    </div>
  </div>
</form>
