<main *ngIf="companyModel != null" role="main" class="container">
  <div class="my-3">
    <app-element-overview [item]="companyModel">
      <div class="mt-3">
        <small class="text-muted">
          {{ companyModel.copyright }}
        </small>
      </div>
    </app-element-overview>
  </div>

  <div class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Domains</h6>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let domain of domains">
        {{ domain.name }}
      </li>
    </ul>
  </div>

  <app-company-model-merge-edit
    [showView]="false"
    [companyModel]="companyModel"
    [domains]="domains"
  ></app-company-model-merge-edit>
</main>
