<main role="main">
  <ngb-alert
    *ngIf="expired"
    type="warning"
    class="container"
    (closed)="closeAlert()"
  >
    The session has expired, because of inactivity.
  </ngb-alert>
  <ngb-alert
    *ngIf="passwordChanged"
    type="success"
    class="container"
    (closed)="closeAlert()"
  >
    The password has been changed successfully.
  </ngb-alert>
  <ngb-alert
    *ngIf="dbError"
    type="danger"
    class="container"
    (closed)="closeAlert()"
  >
    Critical error in database.
  </ngb-alert>
  <div class="m-auto my-3 sbmd-panel" style="width: 20rem">
    <h6 class="sbmd-panel-title">Login</h6>
    <div class="sbmd-form-wrapper">
      <form [formGroup]="form" (submit)="login()">
        <div class="mb-3">
          <label for="inputUser">Username</label>
          <input
            class="form-control"
            id="inputUser"
            formControlName="username"
          />
        </div>
        <div class="mb-3">
          <label for="passwordInput">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            aria-describedby="passwordInput"
            formControlName="password"
          />
          <small id="passwordInputHelp" class="form-text text-muted">
            This is <strong>not</strong> your IMT Password.
          </small>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            Login
          </button>
        </div>
        <div>
          <small class="text-danger" *ngIf="errorReason != null">{{
            errorReason
          }}</small>
        </div>
      </form>
    </div>
  </div>
</main>
