<form [formGroup]="hypothesisForm" (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label for="name" class="col-sm-4 col-form-label">Hypothesis Name</label>
    <div class="col-sm-8">
      <input
        type="text"
        formControlName="name"
        class="form-control"
        id="name"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="subhypothesisOf" class="col-sm-4 col-form-label"
      >Subhypothesis of</label
    >
    <div class="col-sm-8">
      <select
        id="subhypothesisOf"
        formControlName="subhypothesisOf"
        class="form-control"
      >
        <option [ngValue]="null">root</option>
        <option
          *ngFor="let h of hypothesisList"
          [disabled]="disabledSubhypotheses.includes(h.id)"
          [ngValue]="h.id"
        >
          {{ '-'.repeat(h.level) }} {{ h.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="priority" class="col-sm-4 col-form-label">Priority</label>
    <div class="col-sm-8">
      <ng-template #priorityIcon let-fill="fill">
        <i class="fa fa-square" *ngIf="fill === 100"></i>
        <i class="far fa-square" *ngIf="fill !== 100"></i>
      </ng-template>
      <ngb-rating
        class="rating"
        id="priority"
        formControlName="priority"
        [starTemplate]="priorityIcon"
        [max]="5"
      ></ngb-rating>
    </div>
  </div>

  <div class="form-group row">
    <label for="subhypothesesConnections" class="col-sm-4 col-form-label"
      >Subhypotheses Connections</label
    >
    <div class="col-sm-8">
      <select
        id="subhypothesesConnections"
        formControlName="subhypothesesConnections"
        class="form-control"
      >
        <option [ngValue]="'and'">AND</option>
        <option [ngValue]="'or'">OR</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-dark btn-block"
        [disabled]="!hypothesisForm.valid"
      >
        {{ submitButtonText }}
      </button>
    </div>
  </div>
</form>
