<div class="my-3 sbmd-panel">
  <h6 class="sbmd-panel-title">Method Enactment</h6>
  <p>
    The third stage of Method Enactment is used by the Business Developer to
    enact a development method. This can be done based on a Composed Development
    Method or an Ad-hoc Created Development Method.
  </p>

  <p>
    The <b>Composed Development Method</b> enacts a predefined development
    method and executes the predefined developments steps. Here, a already
    <i>Composed Development Method</i> is selected and configured as the current
    one. Each of the predefined <i>Method Building Blocks</i> is executed as
    development step to develop the business model. During the enactment of the
    development method, a change of the composed development method might be
    requested.
  </p>

  <p>
    The <b>Ad-hoc Created Development Method</b> creates a new development
    method and executes the flexible development steps. Here, a
    <i>New Development Method</i> is created by choosing the situational factors
    and the application domains. Based on that, new
    <i>Method Building Blocks</i> are flexible selected in an ad-hoc manner from
    the repository. The blocks are executed as development steps to develop the
    business model.
  </p>
</div>

<div class="sbmd-panel">
  <app-carousel [images]="images"></app-carousel>
</div>
