<ul class="list-group shadow-sm">
  <li
    *ngFor="let hypothesis of hypotheses"
    class="
      d-flex
      flex-wrap
      list-group-item
      justify-content-between
      align-items-center
    "
  >
    <app-hypothesis-info
      [hypothesis]="hypothesis"
      [showEvidence]="processPhase === 'stepAdaption'"
    ></app-hypothesis-info>

    <div>
      <button
        *ngIf="processPhase === 'stepMap'"
        (click)="addExperiment.emit(hypothesis.id)"
        type="button"
        class="btn btn-primary btn-sm me-1"
      >
        Add Experiment
      </button>
      <button
        *ngIf="processPhase === 'stepMap'"
        (click)="showMappings.emit(hypothesis.id)"
        type="button"
        class="btn btn-dark btn-sm me-1"
      >
        Show mappings
      </button>
      <button
        *ngIf="processPhase === 'stepInit'"
        (click)="addHypothesis.emit(hypothesis.id)"
        type="button"
        class="btn btn-primary btn-sm me-1"
      >
        Add
      </button>
      <button
        *ngIf="processPhase === 'stepInit'"
        (click)="updateHypothesis.emit(hypothesis.id)"
        type="button"
        class="btn btn-warning btn-sm me-1"
      >
        Update
      </button>
      <button
        *ngIf="processPhase === 'stepInit'"
        (click)="deleteHypothesis.emit(hypothesis.id)"
        type="button"
        class="btn btn-secondary btn-sm"
      >
        Delete
      </button>
    </div>

    <ul
      class="list-group list-group-horizontal w-100 overflow-auto"
      *ngIf="processPhase === 'stepMap' || processPhase === 'stepView'"
    >
      <li
        *ngFor="let mapping of hypothesisExperimentMap[hypothesis.id]"
        class="list-group-item"
      >
        <app-experiment-info
          [experiment]="mapping.experiment"
          [metric]="mapping.metric"
          [showDescription]="false"
        ></app-experiment-info>
      </li>
    </ul>

    <app-hypothesis-tree
      class="mt-2 w-100"
      *ngIf="hypothesis.subhypotheses.length > 0"
      [hypotheses]="hypothesis.subhypotheses"
      [hypothesisExperimentMap]="hypothesisExperimentMap"
      [processPhase]="processPhase"
      (addExperiment)="addExperiment.emit($event)"
      (showMappings)="showMappings.emit($event)"
      (addHypothesis)="addHypothesis.emit($event)"
      (updateHypothesis)="updateHypothesis.emit($event)"
      (deleteHypothesis)="deleteHypothesis.emit($event)"
    ></app-hypothesis-tree>
  </li>
</ul>
