<ng-container [formGroup]="formGroup">
  <div class="form-group row">
    <label for="definitionSelector" class="col-sm-4 col-form-label"
      >Canvas Model</label
    >
    <div class="col-sm-8">
      <select
        id="definitionSelector"
        formControlName="definitionId"
        class="form-control"
        [class.is-invalid]="
          definitionControl.invalid && definitionControl.touched
        "
      >
        <option
          *ngFor="let definition of canvasDefinitions"
          [ngValue]="definition._id"
        >
          {{ definition.name }}
        </option>
        <option *ngIf="canvasDefinitions == null">Loading...</option>
      </select>
    </div>
  </div>
</ng-container>
