<app-running-process-context-edit-base [runningProcess]="runningProcess">
  <app-bm-process-edit-diagram
    editView
    [bmProcess]="runningProcess.process"
    (saveBmProcess)="saveBmProcess($event.processDiagram, $event.decisions)"
    (appendProcessPattern)="
      appendProcessPattern($event.nodeId, $event.processPattern)
    "
    (insertProcessPattern)="
      insertProcessPattern($event.nodeId, $event.processPattern)
    "
    (deleteProcessPattern)="deleteProcessPattern($event)"
    (insertDevelopmentMethod)="
      insertDevelopmentMethod($event.nodeId, $event.developmentMethod)
    "
    (removeDevelopmentMethod)="removeDevelopmentMethod($event)"
  ></app-bm-process-edit-diagram>
</app-running-process-context-edit-base>
