<div class="row">
  <div class="col-3"><strong>Legend:</strong></div>
  <div class="col-3">
    <i class="fa fa-question" aria-hidden="true" title="untested"></i>
    <span class="sr-only">untested</span>
    Untested
  </div>
  <div class="col-3">
    <i class="fa fa-check" aria-hidden="true" title="validated"></i>
    <span class="sr-only">validated</span>
    Validated
  </div>
  <div class="col-3">
    <i class="fa fa-times" aria-hidden="true" title="disapproved"></i>
    <span class="sr-only">disapproved</span>
    Disapproved
  </div>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-3">
    <i class="fas fa-chevron-circle-up" aria-hidden="true" title="and"></i>
    <span class="sr-only">and</span>
    And
  </div>
  <div class="col-3">
    <i class="fas fa-chevron-up" aria-hidden="true" title="or"></i>
    <span class="sr-only">or</span>
    Or
  </div>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-3">
    <ng-template #priorityIcon let-fill="fill">
      <i class="fa fa-square" *ngIf="fill === 100"></i>
      <i class="far fa-square" *ngIf="fill !== 100"></i>
    </ng-template>
    <ngb-rating
      [starTemplate]="priorityIcon"
      [max]="5"
      [readonly]="true"
      [rate]="3"
    ></ngb-rating>
    Priority
  </div>
  <div class="col-3" *ngIf="showEvidenceScore">
    <ngb-rating [max]="5" [readonly]="true" [rate]="3"></ngb-rating>
    Evidence Score
  </div>
</div>
