<div
  #navigation
  class="sbmd-sidenav bg-white p-3 border-end d-flex flex-column"
>
  <nav class="flex-fill d-flex flex-column" [@heading]="depth">
    <div class="sbmd-animate" *ngIf="hasLink">
      <a
        [routerLink]="link"
        [queryParams]="queryParams"
        class="btn btn-link text-decoration-none border-0 p-0 fs-5"
      >
        <i aria-label="Submenu" class="me-1 bi bi-chevron-left"></i>
        {{ currentNavMenu.name }}
      </a>
    </div>
    <div *ngIf="!hasLink" class="sbmd-animate fs-5">
      {{ currentNavMenu.name }}
    </div>
    <hr />
    <app-nav-side-list
      [expandAll]="expandAll"
      [navItems]="currentNavMenu.submenu"
      class="sbmd-animate"
    ></app-nav-side-list>
    <div class="mt-auto text-muted text-center">
      <div class="btn btn-link" [routerLink]="['/', 'options']">Options</div>
      <div class="btn btn-link" [routerLink]="['/', 'tutorial', 'overview']">
        Tutorials
      </div>
      <div *ngIf="!isLocalDatabase()" class="btn btn-link" (click)="logout()">
        Logout
      </div>
    </div>
  </nav>
</div>
