<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ul class="mb-3 list-group">
    <li *ngIf="groupDecision.groups.allowNone" class="list-group-item">
      <ul class="list-group shadow-sm">
        <li
          [class.list-group-item-secondary]="selectedGroup != null"
          [class.list-group-item-primary]="selectedGroup == null"
          class="list-group-item d-flex align-items-baseline"
        >
          <h5 class="mb-0">None</h5>
          <div class="ms-auto">
            <input
              type="radio"
              class="btn-check"
              id="none-option-{{ id }}"
              autocomplete="off"
              [value]="null"
              formControlName="groupIndex"
            />
            <label class="btn btn-outline-primary" for="none-option-{{ id }}"
              >Select</label
            >
          </div>
        </li>
      </ul>
    </li>
    <li
      *ngFor="let group of groupDecision.groups.groups; let index = index"
      class="list-group-item"
    >
      <ul class="list-group shadow-sm">
        <li
          [class.list-group-item-secondary]="selectedGroup !== index"
          [class.list-group-item-primary]="selectedGroup === index"
          class="list-group-item d-flex align-items-baseline"
        >
          <h5 class="mb-0">Group</h5>
          <div class="ms-auto">
            <input
              type="radio"
              class="btn-check"
              id="group-{{ index }}-option-{{ id }}"
              autocomplete="off"
              [value]="index"
              formControlName="groupIndex"
            />
            <label
              class="btn btn-outline-primary"
              for="group-{{ index }}-option-{{ id }}"
              >Select</label
            >
          </div>
        </li>
        <ng-container *ngIf="selectedGroup !== index">
          <li *ngFor="let element of group.items" class="list-group-item">
            <app-method-element-info
              [element]="element"
              [methodElementName]="methodElementName"
            ></app-method-element-info>
          </li>
        </ng-container>
        <ng-container *ngIf="selectedGroup === index">
          <li
            *ngFor="let element of group.items; let elementIndex = index"
            class="list-group-item"
            formArrayName="elementDecisions"
          >
            <app-method-element-info
              [formGroupName]="elementIndex.toString()"
              [element]="element"
              [methodElements]="methodElements"
              [methodElementName]="methodElementName"
            ></app-method-element-info>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
  <div *ngIf="groupDecision.groups.groups.length > 0" class="my-3 d-grid">
    <button
      type="submit"
      class="btn btn-sm"
      [class.btn-dark]="!changed"
      [class.btn-primary]="changed"
      [disabled]="!form.valid"
    >
      Update<span *ngIf="changed"> (unsaved changes)</span>
    </button>
  </div>
</form>
