<div class="my-3 sbmd-panel">
  <h2 class="border-bottom border-gray pb-2">
    Options for the Business Developer
  </h2>
  <p class="mb-0">
    The following options can be used to enact a development method:
  </p>

  <ul class="mb-0">
    <li>
      <a [routerLink]="['/', 'runningprocess']">
        Execution of a Composed Development Method
      </a>
    </li>
    <li>
      <a [routerLink]="['/', 'runningprocess']">
        Execution of an Ad-hoc Created Development Method
      </a>
    </li>
    <li>
      <a [routerLink]="['/', 'concreteArtifacts']">
        Manage exported artifacts of the Development Methods
      </a>
    </li>
  </ul>
</div>
