<ng-template #deleteStakeholderModal let-d="dismiss" let-c="close">
  <app-delete-modal
    *ngIf="modalStakeholder != null"
    (dismiss)="d()"
    (delete)="delete(modalStakeholder._id); c()"
  >
    <div modalTitle>Delete Stakeholder {{ modalStakeholder.name }}</div>
    You are deleting the stakeholder {{ modalStakeholder.name }}. This can not
    be undone. This action will not delete the stakeholder from method building
    blocks that are using it.
  </app-delete-modal>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" [routerLink]="[]">Stakeholders</a>
  </nav>
</div>

<main role="main" class="container">
  <div class="my-3 alert alert-info" role="alert">
    Create Stakeholders to use them for the definition of Method Fragments
  </div>

  <app-method-element-list
    listTitle="Stakeholders"
    [elementLists]="elementLists"
    (deleteElement)="openDeleteStakeholderModal($event)"
  ></app-method-element-list>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Add Stakeholder</h6>
    <div class="text-muted pt-3">
      <app-method-element-form
        [listNames]="listNames"
        (submitMethodElementForm)="add($event)"
      ></app-method-element-form>
    </div>
  </div>
</main>
