<div class="my-3 sbmd-panel">
  <h6 class="sbmd-panel-title">Knowledge Provision</h6>
  <p>
    The first stage of Knowledge Provision is used by the Domain Experts to
    store their knowledge about methods into the Method Repository and the
    models into the Canvas Model Repository.
  </p>

  <p>
    The <b>Method Repository</b> contains atomic Method Elements that are
    combined to Method Building Blocks, and, optionally, arranged to Method
    Patterns. The <i>Method Elements</i> are the tasks to accomplish, the phases
    to divide the method, the types to arrange the method, the stakholders that
    are involved, the artifacts that are created, the tools that are used, and
    the situational factors that should be covered. The
    <i>Method Building Blocks</i> combine a single task with multiple other
    elements to create an executable development step. The
    <i>Method Patterns</i> arrange types of elements in a predefined process to
    structure a development method.
  </p>

  <p>
    The <b>Canvas Model Repository</b> contains atomic Canvas Elements that are
    hierachical structured though Canvas Building Blocks and visualized by
    Canvas Models. The <i>Canvas Elements</i> are the items of possible business
    decisions, the relationships for design support, the application domains to
    apply the knowledge, and the instances to group the knowledge. The
    <i>Canvas Building Blocks</i> structure the items as a hierchary together
    with relationship between and instances out of them. The
    <i>Canvas Models</i> visualize those building blocks together with guiding
    questions and examples.
  </p>
</div>

<div class="sbmd-panel">
  <app-carousel [images]="images"></app-carousel>
</div>
