<form [formGroup]="nameForm" (ngSubmit)="close(nameForm.getRawValue().name)">
  <div class="modal-header">
    <h4 class="modal-title">
      {{ title ?? 'Select a name' }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row g-3">
      <label for="name" class="col-sm-4 col-form-label">Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="name"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex">
    <button type="button" class="btn btn-secondary me-auto" (click)="dismiss()">
      Abort
    </button>
    <button
      *ngIf="nameForm.valid"
      type="submit"
      class="btn btn-primary ms-auto"
    >
      Create
    </button>
  </div>
</form>
