<app-tutorial-popover-wrapper></app-tutorial-popover-wrapper>
<div class="vh-100 d-flex flex-column">
  <app-navbar
    *ngIf="showNavbar"
    [sidenavEnabled]="sidenavEnabled"
    [sidenavExpanded]="showSidenav"
    (navbarToggle)="toggleSidenav()"
  ></app-navbar>

  <div
    id="screen"
    [@sidenav]="showSidenav"
    class="flex-fill d-flex overflow-hidden"
  >
    <aside
      id="navbarToggleExternalContent"
      *ngIf="showSidenav"
      class="overflow-auto"
    >
      <app-nav-side></app-nav-side>
    </aside>
    <div
      #content
      id="content"
      class="flex-fill d-flex flex-column align-content-center"
    >
      <app-tutorial-button></app-tutorial-button>
      <div class="flex-fill">
        <router-outlet></router-outlet>
      </div>

      <footer
        *ngIf="showNavbar"
        class="
          text-muted
          container
          text-center
          mb-3
          d-flex
          align-items-baseline
          justify-content-center
        "
      >
        <div
          class="btn btn-link"
          routerLinkActive="active"
          [routerLink]="['/']"
        >
          SBMD v{{ VERSION }}
        </div>
      </footer>
    </div>
  </div>
</div>
