<ng-template #ref let-item>
  <app-development-method-selection-form
    [contextSituationalFactors]="contextSituationalFactors"
    [developmentMethod]="item"
    (selectDevelopmentMethod)="selectDevelopmentMethod.emit($event)"
  ></app-development-method-selection-form>
</ng-template>

<app-search
  *ngIf="!allowTypeFilter"
  heading="Building Blocks"
  itemName="Method Building Blocks"
  [content]="ref"
  [items]="developmentMethods"
></app-search>
<app-search-filter-type
  *ngIf="allowTypeFilter"
  heading="Building Blocks"
  itemName="Method Building Blocks"
  [content]="ref"
  [items]="developmentMethods"
></app-search-filter-type>
