<label
  for="{{ methodElementName }}MultipleInput{{ index }}"
  [class.sr-only]="index !== 0"
  >{{ methodElementName }}</label
>
<div class="input-group">
  <input
    type="text"
    [formControl]="formControl"
    class="form-control"
    id="{{ methodElementName }}MultipleInput{{ index }}"
    [ngbTypeahead]="searchElements"
    [editable]="false"
    [resultFormatter]="formatter"
    [inputFormatter]="formatter"
    (click)="openElementInput.next($any($event.target).value)"
    (focus)="openElementInput.next($any($event.target).value)"
  />
  <div class="input-group-append" *ngIf="multiple">
    <button
      (click)="add.emit()"
      class="btn btn-outline-secondary align-self-baseline"
      type="button"
    >
      +
    </button>
    <button
      (click)="remove.emit()"
      class="btn btn-outline-secondary align-self-baseline"
      type="button"
    >
      -
    </button>
  </div>
</div>
