<div class="my-3 sbmd-panel">
  <h2 class="border-bottom border-gray pb-2">
    Options for the Method Engineer
  </h2>
  <p class="mb-0">
    The following options can be used to compose a development method:
  </p>
  <ul class="mb-0">
    <li>
      <a [routerLink]="['/bmprocess', 'pattern']">
        Compose a Pattern-based Development Method
      </a>
    </li>
    <li>
      <a [routerLink]="['/bmprocess', 'phase']">
        Compose a Phase-based Development Method
      </a>
    </li>
    <li>
      <a [routerLink]="['/companyModels']">
        Compose a distinct Canvas Model for the Development Method
      </a>
    </li>
  </ul>
</div>
