<ng-template #infoModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Building Block Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-development-method-summary
      *ngIf="modalDecision != null"
      [decision]="modalDecision"
    ></app-development-method-summary>
  </div>
</ng-template>

<ng-template #multipleOptionsInfoModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Execution Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    You need to select one of the outgoing flows of the exclusive gateway to
    specify which path should be taken for the execution.
  </div>
</ng-template>

<ng-template #notCompletelyDefinedModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalToDoMethod != null">
      Can not execute method {{ modalToDoMethod.decision.method.name }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    You need to completely define the method before executing it. Edit the
    method to define it completely.
  </div>
  <div class="modal-footer" *ngIf="modalToDoMethod != null">
    <div class="d-flex align-items-baseline">
      <button
        class="btn btn-primary"
        (click)="d(); editToDoMethod(modalToDoMethod.executionId)"
      >
        Edit method
      </button>
    </div>
  </div>
</ng-template>

<ng-template #selectMethodModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select Method Building Block to add to TODO</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-development-methods-selection-form
      *ngIf="runningProcess != null"
      [allowTypeFilter]="true"
      [contextSituationalFactors]="runningProcess.situationalFactors"
      [developmentMethods]="modalDevelopmentMethods"
      (selectDevelopmentMethod)="addToDoMethod($event)"
    ></app-development-methods-selection-form>
  </div>
</ng-template>

<ng-template #methodConfigurationModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalToDoMethod != null">
      Configure Building Block {{ modalToDoMethod.decision.method.name }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="runningProcess != null && modalToDoMethod != null">
    <div class="modal-body">
      <app-method-info
        #methodInfo
        [runningProcess]="runningProcess"
        [contextDomains]="runningProcess.domains"
        [contextSituationalFactors]="runningProcess.situationalFactors"
        [developmentMethod]="modalToDoMethod.decision.method"
        [decision]="modalToDoMethod.decision"
        (updateDecisions)="updateDecision($event)"
      ></app-method-info>
    </div>
    <div class="modal-footer d-flex align-items-baseline">
      <button class="btn btn-secondary" (click)="d()">Close</button>
      <button
        class="ml-auto btn btn-primary"
        (click)="methodInfo.update(); d()"
      >
        Update all and finish editing
      </button>
    </div>
  </ng-container>
</ng-template>

<ng-template #methodArtifactsModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalRunningMethodInfo != null">
      Artifacts of {{ modalRunningMethodInfo.methodName }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="modal-body"
    *ngIf="modalRunningMethodInfoArtifacts != null && runningProcess != null"
  >
    <app-running-process-artifacts
      [runningProcess]="runningProcess"
      [artifactVersions]="modalRunningMethodInfoArtifacts"
      [allowChanges]="false"
      (focusNode)="focus($event); d()"
      (editArtifact)="editArtifact($event); d()"
      (viewArtifactVersion)="viewArtifactVersion($event); d()"
    ></app-running-process-artifacts>
  </div>
</ng-template>

<ng-template #commentsModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalRunningMethodInfo != null">
      Comments of {{ modalRunningMethodInfo.methodName }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-running-process-method-comments
      *ngIf="modalRunningMethodInfo != null"
      [comments]="modalRunningMethodInfo.comments"
      [editable]="false"
    ></app-running-process-method-comments>
  </div>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" *ngIf="runningProcess">
    <a class="nav-link active" [routerLink]="[]">{{
      runningProcess | runningProcessName
    }}</a>
  </nav>
</div>

<main
  *ngIf="
    runningProcessLoaderService.error &&
    runningProcessLoaderService.errorStatus === 404
  "
  role="main"
>
  <div class="alert alert-info container my-3">
    <p>
      This running method does not exist. Reason:
      {{ runningProcessLoaderService.errorReason }}.
    </p>
    <p class="mb-0">
      <a [routerLink]="['/', 'runningprocess']"
        >Go back to overview of running methods</a
      >
    </p>
  </div>
</main>

<main *ngIf="runningProcess" role="main">
  <app-running-process-viewer
    *ngIf="runningProcess.hasProcess()"
    [runningProcess]="runningProcess"
  ></app-running-process-viewer>

  <div class="container">
    <div
      class="my-3 p-3 bg-white rounded shadow-sm"
      *ngIf="decisions.length > 0"
    >
      <h6 class="border-bottom border-gray pb-2">Decision</h6>
      <ul class="list-group">
        <li *ngFor="let decision of decisions" class="list-group-item">
          <div class="d-flex justify-content-between align-items-baseline">
            <h5>
              Exclusive Gateway<span
                *ngIf="decision.businessObject && decision.businessObject.name"
              >
                {{ decision.businessObject.name }}</span
              >
            </h5>
            <div class="d-flex align-items-baseline">
              <button
                (click)="focus(decision.id)"
                type="button"
                class="btn btn-dark btn-xs mr-1"
              >
                View
              </button>
              <button
                (click)="executeStep(decision.id)"
                type="button"
                class="btn btn-primary btn-xs"
              >
                Next Step
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2">Kanban Board</h6>
      <app-running-process-kanban-board
        [runningProcess]="runningProcess"
        (addTodo)="openSelectMethodModal()"
        (editTodo)="editToDoMethod($event)"
        (removeTodo)="removeMethod($event)"
        (viewNode)="focus($event)"
        (showInfo)="openInfoModal($event)"
        (startNodeExecution)="startNodeExecution($event)"
        (startExecution)="startExecution($event)"
        (viewExecution)="viewExecution($event)"
        (viewArtifacts)="viewArtifacts($event)"
        (viewComments)="openCommentsModal($event)"
      ></app-running-process-kanban-board>
    </div>

    <app-running-process-artifacts
      [runningProcess]="runningProcess"
      (focusNode)="focus($event)"
      (importArtifact)="importArtifact($event)"
      (exportArtifact)="exportArtifact($event.identifier, $event.artifact)"
      (renameArtifact)="renameArtifact($event.identifier, $event.artifact)"
      (viewArtifactVersion)="viewArtifactVersion($event)"
      (editArtifact)="editArtifact($event)"
      (addArtifact)="addArtifact($event.artifact, $event.output)"
      (createArtifact)="createArtifact($event)"
      (removeArtifact)="removeArtifact($event)"
    ></app-running-process-artifacts>

    <div
      *ngIf="runningProcess.hasProcess()"
      class="my-3 p-3 bg-white rounded shadow-sm"
    >
      <div
        class="
          d-flex
          align-items-baseline
          justify-content-between
          border-bottom border-gray
          mb-2
        "
      >
        <h6 class="pb-2 mb-0">Context</h6>
        <button
          *ngIf="runningProcess.hasProcess()"
          class="btn btn-xs btn-dark"
          (click)="openRequestContextChangeModal()"
        >
          Request context change
        </button>
      </div>
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2">Domain</h6>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let domain of runningProcess.domains"
          >
            {{ domain.name }}
          </li>
        </ul>
      </div>
      <div class="mt-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2">Situational Factors</h6>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let situationalFactor of runningProcess.situationalFactors"
          >
            {{ situationalFactor.element!.factor.name }}:
            {{ situationalFactor.element!.value }}
          </li>
        </ul>
      </div>
    </div>

    <app-context-edit
      *ngIf="!runningProcess.hasProcess()"
      [domains]="runningProcess.domains"
      [situationalFactors]="runningProcess.situationalFactors"
      (updateDomains)="updateDomains($event)"
      (updateSituationalFactors)="updateSituationalFactors($event)"
    ></app-context-edit>
  </div>
</main>
