<!-- model list -->
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">{{ modelListTitle }}</h6>
  <ul class="list-unstyled mb-0">
    <li *ngFor="let model of modelList" class="model-list-item media text-muted pt-2 pb-2 border-bottom">
      <svg class="align-self-center mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#6f42c1"/>
      </svg>

      <div class="media-body small">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div>
              <strong (click)="viewModel.emit(model._id)" class="text-gray-dark">{{model.name}}</strong>
              <span class="text-muted"
                    *ngIf="model.hasOwnProperty('version') && model['version']"> ({{model['version']}})</span>
            </div>
            <div>
              <span>{{model.description}}</span>
            </div>
            <div *ngIf="model.author && model.author.name">
              Author: {{model.author.name}}
              <ng-container *ngIf="model.author.email">
                ({{model.author.email}})
              </ng-container>
              <ng-container *ngIf="model.author.company"> from {{model.author.company}}</ng-container>
            </div>
            <div *ngIf="model.author.website">
              Website: {{model.author.website}}
            </div>
            <div *ngIf="model.copyright">
              Copyright: {{model.copyright}}
            </div>
          </div>
          <div>
            <button (click)="viewModel.emit(model._id)" type="button" class="btn btn-dark btn-xs model-list-item-view">
              View
            </button> &nbsp;
            <button (click)="editModel.emit(model._id)" type="button"
                    class="btn btn-warning btn-xs model-list-item-edit">
              Edit
            </button> &nbsp;
            <button (click)="deleteModel.emit(model._id)" type="button"
                    class="btn btn-danger btn-xs model-list-item-delete">
              Delete
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Add model -->
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">{{ modelFormTitle }}</h6>
  <div class="text-muted pt-3">
    <form [formGroup]="modelForm" (ngSubmit)="addModelForwardEmitter()">
      <div class="form-group form-row">
        <label for="definitionSelector" class="col-sm-4 col-form-label">Definition</label>
        <div class="col-sm-8">
          <select
            id="definitionSelector"
            formControlName="definition"
            class="form-control"
            [class.is-invalid]="definitionControl.invalid && definitionControl.touched">
            <option *ngFor="let definition of canvasDefinitions" [ngValue]="definition">{{ definition.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group form-row">
        <label for="name" class="col-sm-4 col-form-label">Model Name</label>
        <div class="col-sm-8">
          <input type="text" formControlName="name" class="form-control" id="name">
        </div>
      </div>
      <div class="form-group form-row">
        <label for="description" class="col-sm-4 col-form-label">Model Description</label>
        <div class="col-sm-8">
          <input type="text" formControlName="description" class="form-control" id="description">
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-sm btn-dark btn-block"
                  [disabled]="!modelForm.valid">{{ modelFormTitle }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
