<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" [routerLink]="[]">Method Elements</a>
  </nav>
</div>

<main role="main" class="container">
  <div class="my-3 alert alert-info">
    All method elements, except for tasks, are defined in the presented
    sections. Tasks are directly defined while creating method building blocks.
  </div>

  <app-list-wrapper listTitle="Method Elements">
    <div results class="list-group">
      <a
        *ngFor="let item of methodElementLinks"
        class="list-group-item list-group-item-action d-flex"
        [routerLink]="item.route"
      >
        <div>{{ item.name }}</div>
        <div class="ml-auto">
          <div class="btn btn-dark btn-xs">View</div>
        </div>
      </a>
    </div>
  </app-list-wrapper>
</main>
