<form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
  <div class="form-group form-row">
    <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
    <div class="col-sm-8">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        formControlName="password"
        aria-describedby="validationPassword"
        [class.is-invalid]="passwordControl.invalid && passwordControl.touched"
      />
      <div id="validationPassword" class="invalid-feedback">
        <ng-container *ngIf="passwordControl.hasError('minlength')">
          The password must be at least 10 characters long.
        </ng-container>
        <ng-container *ngIf="passwordControl.hasError('required')">
          This field is required.
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputConfirm" class="col-sm-4 col-form-label">Confirm</label>
    <div class="col-sm-8">
      <input
        type="password"
        class="form-control"
        id="inputConfirm"
        formControlName="confirm"
        aria-describedby="validationConfirm"
        [class.is-invalid]="passwordForm.invalid && confirmControl.touched"
      />
      <div
        id="validationConfirm"
        class="invalid-feedback"
        *ngIf="passwordForm.hasError('passwordNotConfirmed')"
      >
        The passwords do not match.
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-dark btn-sm btn-block"
        [disabled]="!passwordForm.valid"
      >
        Change Password
      </button>
    </div>
  </div>
</form>
