<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" [routerLink]="['/', 'canvas', 'definitions']"
      >Canvas Models</a
    >
    <a *ngIf="canvasDefinition" class="nav-link active" [routerLink]="[]">{{
      canvasDefinition.name
    }}</a>
  </nav>
</div>

<main *ngIf="canvasDefinition" role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Canvas Model</h6>
    <app-canvas-definition-row-form
      #canvasDefinitionRowFormComponent
      [canvasDefinitionRows]="canvasDefinition.rows"
      (submitForm)="submitRowForm($event.value)"
    ></app-canvas-definition-row-form>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Canvas Model Overview</h6>
    <app-canvas-definition-overview
      [canvasDefinitionCells]="
        toCanvasDefinitionRows(
          canvasDefinitionRowFormComponent.form.valueChanges | async
        )
      "
    ></app-canvas-definition-overview>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Canvas Model Relationships</h6>
    <app-canvas-definition-relationships-form
      [relationshipTypes]="canvasDefinition.relationshipTypes"
      (submitRelationshipTypesForm)="
        update({ relationshipTypes: $event.value })
      "
    ></app-canvas-definition-relationships-form>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Edit Canvas Model</h6>
    <div class="text-muted pt-3">
      <app-canvas-definition-form
        [canvasDefinition]="canvasDefinition"
        (submitForm)="update($event.value)"
      ></app-canvas-definition-form>
    </div>
  </div>
</main>
