<div class="row">
  <div class="mb-3 col">
    <label class="form-label" [for]="listInput.id">List</label>
    <input
      #listInput
      readonly
      type="text"
      [value]="
        element.list | multiple: element.multiple | optional: element.optional
      "
      class="form-control-plaintext"
      id="listInput"
    />
  </div>
  <div class="mb-3 col" *ngIf="element.element == null && formGroup != null">
    <label
      class="form-label"
      *ngIf="formArray != null && formArray.length === 0"
      >{{ methodElementName }}</label
    >
    <app-method-element-info-selection
      *ngIf="formElement != null || formArray!.length > 0"
      [control]="$any(formElement ?? formArray!.at(0))"
      [methodElements]="methodElements"
      [methodElementName]="methodElementName"
      [index]="0"
      [multiple]="element.multiple"
      [list]="element.list"
      (add)="add(1)"
      (remove)="remove(0)"
    ></app-method-element-info-selection>
    <div *ngIf="formArray != null && formArray.length === 0">
      <button
        (click)="add()"
        class="btn btn-outline-secondary align-self-baseline"
        type="button"
      >
        +
      </button>
    </div>
  </div>
  <div class="mb-3 col" *ngIf="element.element != null">
    <label class="form-label" for="{{ methodElementName }}elementInputStatic">{{
      methodElementName
    }}</label>
    <input
      readonly
      type="text"
      [value]="element.element.name"
      class="form-control-plaintext"
      id="{{ methodElementName }}elementInputStatic"
    />
  </div>
</div>
<ng-container *ngIf="formArray != null">
  <div
    *ngFor="let control of formArray.controls.slice(1); let index = index"
    class="row"
  >
    <div class="mb-3 col"></div>
    <div class="mb-3 col">
      <app-method-element-info-selection
        [control]="$any(control)"
        [methodElements]="methodElements"
        [methodElementName]="methodElementName"
        [index]="index + 1"
        [multiple]="element.multiple"
        [list]="element.list"
        (add)="add(index + 2)"
        (remove)="remove(index + 1)"
      ></app-method-element-info-selection>
    </div>
  </div>
</ng-container>
