<div class="modal-header">
  <h4 class="modal-title">You have unsaved changes in the whiteboard</h4>
</div>
<div class="modal-body">
  You can stay on this page, discard them or save them.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Close
  </button>
  <button type="button" class="btn btn-secondary" (click)="leave()">
    Leave without saving
  </button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()">
    Save changes
  </button>
</div>
