<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" *ngIf="hypothesis != null">
    {{ hypothesis.name }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss()"
  ></button>
</div>

<div class="modal-body" *ngIf="hypothesis != null && mappings != null">
  <div *ngIf="mappings.length === 0" class="alert alert-info" role="alert">
    This hypothesis has no mappings.
  </div>

  <ul class="list-group">
    <li
      *ngFor="let mapping of mappings"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <app-experiment-info
        [experiment]="mapping.experiment"
        [metric]="mapping.metric"
      ></app-experiment-info>
      <button
        (click)="
          removeMapping.emit({
            hypothesisId: hypothesis.id,
            experimentId: mapping.experiment.id,
            experimentDefinitionId:
              mapping.experiment.getExperimentDefinitionId()
          })
        "
        type="button"
        class="btn btn-danger btn-sm"
      >
        Remove
      </button>
    </li>
  </ul>
</div>
