<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Info</h6>
  <table class="table table-sm mb-0" style="table-layout: fixed">
    <tbody>
      <tr class="table-borderless">
        <th scope="row" style="width: 250px">Name</th>
        <td>{{ instance.name }}</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{ instance.description }}</td>
      </tr>
      <tr *ngIf="featureModel.type === expertModelTypeName()">
        <th scope="row">Type</th>
        <td>{{ instance.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
