<main *ngIf="processPattern != null" role="main" class="container">
  <div id="pattern" class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Method Pattern</h6>
    <div class="sbmd-form-wrapper">
      <app-element-form
        [element]="processPattern"
        (submitElementForm)="updateProcessPatternValue($event.value)"
      ></app-element-form>
    </div>
  </div>

  <div id="icon" class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Icon</h6>
    <div class="sbmd-form-wrapper">
      <app-icon-form
        [icon]="processPattern.icon"
        (submitIconForm)="updateIcon($event)"
      ></app-icon-form>
    </div>
  </div>

  <div id="author" class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Author</h6>
    <div class="sbmd-form-wrapper">
      <app-author-form
        [author]="processPattern.author"
        (submitAuthorForm)="updateProcessPatternValue({ author: $event.value })"
      ></app-author-form>
    </div>
  </div>

  <div class="sbmd-update-all">
    <button type="submit" class="btn btn-primary" (click)="update()">
      Update all
    </button>
  </div>
</main>
