<ng-template #addProcessPatternModal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Add Method Pattern</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <div class="modal-body" *ngIf="modalElement != null">
    <app-process-patterns-selection-form
      [processPatterns]="modalProcessPatterns"
      [contextSituationalFactors]="bmProcess.situationalFactors"
      (selectProcessPattern)="
        appendProcessPattern.emit({
          nodeId: modalElement.id,
          processPattern: $event
        });
        c()
      "
    ></app-process-patterns-selection-form>
  </div>
</ng-template>

<ng-template #selectProcessPatternModal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Select Method Pattern</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <div class="modal-body">
    <app-process-patterns-selection-form
      *ngIf="modalElement != null"
      [processPatterns]="modalProcessPatterns"
      [contextSituationalFactors]="bmProcess.situationalFactors"
      (selectProcessPattern)="
        insertProcessPattern.emit({
          nodeId: modalElement.id,
          processPattern: $event
        });
        c()
      "
    ></app-process-patterns-selection-form>
  </div>
</ng-template>

<ng-template #showTypesModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalElement != null">
      Show types of {{ modalElement.businessObject.name }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <div class="modal-body" *ngIf="modalElement != null">
    <div class="alert alert-info">
      Types that are defined for this activity.
    </div>
    <div class="alert alert-info" *ngIf="modalElement.businessObject.inherit">
      Types are inherited from parent element.
    </div>
    <ng-container *ngIf="!modalElement.businessObject.inherit">
      <h5>Needed</h5>
      <ul
        class="list-group"
        *ngIf="modalElement.businessObject.get('neededType').length > 0"
      >
        <li
          class="list-group-item"
          *ngFor="let element of modalElement.businessObject.get('neededType')"
        >
          <span *ngIf="element.element"
            >{{ element.element.name }} ({{ $any(element.list) | list }})</span
          >
          <span *ngIf="!element.element">{{ $any(element.list) | list }}</span>
        </li>
      </ul>
      <div
        class="alert alert-info"
        *ngIf="modalElement.businessObject.get('neededType').length === 0"
      >
        No needed types defined for this activity.
      </div>
      <h5 class="mt-3">Forbidden</h5>
      <ul
        class="list-group"
        *ngIf="modalElement.businessObject.get('forbiddenType').length > 0"
      >
        <li
          class="list-group-item"
          *ngFor="
            let element of modalElement.businessObject.get('forbiddenType')
          "
        >
          <span *ngIf="element.element"
            >{{ $any(element.list) | list }} {{ element.element.name }}</span
          >
          <span *ngIf="!element.element">{{ $any(element.list) | list }}</span>
        </li>
      </ul>
      <div
        class="alert alert-info"
        *ngIf="modalElement.businessObject.get('forbiddenType').length === 0"
      >
        No forbidden types defined for this activity.
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #deleteProcessPatternModal let-d="dismiss">
  <app-delete-modal
    *ngIf="modalElement != null"
    (dismiss)="d()"
    (delete)="deleteProcessPattern.emit(modalElement.id); d()"
  >
    <div modalTitle>
      Delete Method Pattern {{ modalElement.businessObject.name }}
    </div>
    Deleting the Method Pattern {{ modalElement.businessObject.name }}.
  </app-delete-modal>
</ng-template>

<ng-template #selectDevelopmentMethodModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalElement != null">
      Select Method Building Block for {{ modalElement.businessObject.name }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <div class="modal-body">
    <app-development-methods-selection-form
      *ngIf="modalElement != null"
      [contextSituationalFactors]="bmProcess.situationalFactors"
      [developmentMethods]="validDevelopmentMethods"
      (selectDevelopmentMethod)="
        insertDevelopmentMethod.emit({
          nodeId: modalElement.id,
          developmentMethod: $event
        })
      "
    ></app-development-methods-selection-form>
  </div>
</ng-template>

<ng-template #methodInfoModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalElement != null">
      Overview of Activity {{ modalElement.businessObject.name }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <ng-container
    *ngIf="
      modalElement != null &&
      modalDevelopmentMethod != null &&
      bmProcess.decisions[modalElement.id] != null
    "
  >
    <div class="modal-body">
      <app-method-info
        #methodInfo
        [bmProcess]="bmProcess"
        [contextDomains]="bmProcess.domains"
        [contextSituationalFactors]="bmProcess.situationalFactors"
        [developmentMethod]="modalDevelopmentMethod"
        [decision]="bmProcess.decisions[modalElement.id]"
        (updateDecisions)="updateDecisions($event)"
      ></app-method-info>
    </div>
    <div class="modal-footer d-flex">
      <button type="button" class="btn btn-secondary" (click)="d()">
        Close
      </button>
      <button
        type="button"
        class="btn btn-primary ms-auto"
        (click)="methodInfo.update()"
      >
        Update all
      </button>
    </div>
  </ng-container>
</ng-template>

<ng-template #patternInfoModal let-d="dismiss">
  <div
    class="modal-header"
    *ngIf="modalElement != null && modalProcessPattern != null"
  >
    <h4 *ngIf="modalElement.businessObject.taskName" class="modal-title">
      Overview of Activity {{ modalElement.businessObject.taskName }}
    </h4>
    <h4 *ngIf="!modalElement.businessObject.taskName" class="modal-title">
      Overview of Pattern {{ modalProcessPattern.name }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <div class="modal-body">
    <app-pattern-info
      *ngIf="modalProcessPattern != null"
      [contextSituationalFactors]="bmProcess.situationalFactors"
      [processPattern]="modalProcessPattern"
    ></app-pattern-info>
  </div>
</ng-template>

<app-bm-process-modeler
  [bmProcess]="bmProcess"
  (addProcessPattern)="openAddProcessPatternModal($event)"
  (insertProcessPattern)="openSelectProcessPatternModal($event)"
  (deleteProcessPattern)="openDeleteProcessPatternModal($event)"
  (insertDevelopmentMethod)="openSelectDevelopmentMethodModal($event)"
  (removeDevelopmentMethod)="removeDevelopmentMethod.emit($event.id)"
  (showMethodInfo)="openMethodInfoModal($event)"
  (showMethodSummary)="openDevelopmentMethodSummary($event)"
  (showTypes)="openShowTypesModal($event)"
  (showProcessPatternInfo)="openProcessPatternInfoModal($event)"
></app-bm-process-modeler>
<div class="container">
  <div class="sbmd-panel">
    <div class="row">
      <div class="col-4"><strong>Legend:</strong></div>
    </div>
    <div class="row">
      <div class="col-4">
        <i class="bi bi-list-ul bpmn-legend-icon"></i> Show types
      </div>
      <div class="col-4">
        <i class="bi bi-clipboard-check bpmn-legend-icon"></i> Show Method
        Building Block summary
      </div>
      <div class="col-4">
        <i class="bi bi-info-square bpmn-legend-icon"></i> Show Method Pattern
        details
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <i class="bi bi-server bpmn-legend-icon"></i> Select Method Building
        Block
      </div>
      <div class="col-4">
        <i class="bi bi-gear bpmn-legend-icon"></i> Edit Method Building Block
        details
      </div>
      <div class="col-4">
        <i class="bi bi-trash bpmn-legend-icon"></i> Remove Method Building
        Block from task / Delete Method Pattern
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <i class="bi bi-box-arrow-in-right bpmn-legend-icon"></i> Insert Method
        Pattern
      </div>
      <div class="col-4">
        <i class="bi bi-plus-square bpmn-legend-icon"></i> Add Method Pattern
      </div>
    </div>
  </div>

  <div class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Controls</h6>
    <button class="btn btn-primary" (click)="saveDiagram()">
      Save Diagram
    </button>
  </div>

  <div id="bm-process-edit-diagram-errors" class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Errors</h6>
    <div
      *ngIf="
        incompleteMethodDecisions.length === 0 && incompleteNodes.length === 0
      "
      class="alert alert-success mb-0"
      role="alert"
    >
      No errors. This Business Model Development Method can be instantiated.
    </div>
    <div
      *ngIf="incompleteMethodDecisions.length > 0 || incompleteNodes.length > 0"
      class="alert alert-danger"
      role="alert"
    >
      This Business Model Development Method cannot be instantiated.
    </div>
    <ul *ngIf="incompleteMethodDecisions.length > 0">
      <li *ngFor="let incomplete of incompleteMethodDecisions">
        Method
        <a [routerLink]="[]" (click)="focusElement(incomplete.elementId)">{{
          incomplete.name
        }}</a>
        is incomplete.
      </li>
    </ul>
    <ul *ngIf="incompleteNodes.length > 0">
      <li *ngFor="let incomplete of incompleteNodes">
        Node
        <a [routerLink]="[]" (click)="focusElement(incomplete.elementId)">{{
          incomplete.name
        }}</a>
        has no assigned method.
      </li>
    </ul>
  </div>

  <div id="bm-process-edit-diagram-warnings" class="my-3 sbmd-panel">
    <h6 class="sbmd-panel-title">Warnings</h6>
    <div *ngIf="isGeneratingWarnings" class="alert alert-info mb-0">
      Loading warnings
    </div>
    <ngb-accordion *ngIf="!isGeneratingWarnings">
      <ngb-panel title="Low value Warnings">
        <ng-template ngbPanelContent>
          <div
            *ngIf="lowWarnings.length === 0"
            class="alert alert-success mb-0"
          >
            There are no warnings about situational factors with a too low value
          </div>
          <ul *ngIf="lowWarnings.length > 0">
            <li *ngFor="let warning of lowWarnings">
              {{ warning.elementName }}
              <a [routerLink]="[]" (click)="focusElement(warning.elementId)">{{
                warning.name
              }}</a>
              has a too low value for the following factors
              <ul>
                <li *ngFor="let factor of warning.situationalFactors">
                  {{ factor }}
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Incorrect value Warnings">
        <ng-template ngbPanelContent>
          <div
            *ngIf="incorrectWarnings.length === 0"
            class="alert alert-success mb-0"
          >
            There are no warnings about situational factors with an incorrect
            value
          </div>
          <ul *ngIf="incorrectWarnings.length > 0">
            <li *ngFor="let warning of incorrectWarnings">
              {{ warning.elementName }}
              <a [routerLink]="[]" (click)="focusElement(warning.elementId)">{{
                warning.name
              }}</a>
              has an incorrect value for the following factors
              <ul>
                <li *ngFor="let factor of warning.situationalFactors">
                  {{ factor }}
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Missing Artifacts">
        <ng-template ngbPanelContent>
          <div
            *ngIf="missingArtifacts.length === 0"
            class="alert alert-success mb-0"
          >
            There are no warnings about missing artifacts
          </div>
          <ul *ngIf="missingArtifacts.length > 0">
            <li *ngFor="let warning of missingArtifacts">
              {{ warning.elementName }}
              <a [routerLink]="[]" (click)="focusElement(warning.elementId)">{{
                warning.name
              }}</a>
              is missing the following Artifacts
              <ul>
                <li *ngFor="let artifact of warning.artifacts">
                  {{ artifact.name }}
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Unreachable">
        <ng-template ngbPanelContent>
          <div
            *ngIf="unreachableActivities.length === 0"
            class="alert alert-success mb-0"
          >
            There are no warnings about unreachable methods or activities
          </div>
          <ul *ngIf="unreachableActivities.length > 0">
            <li *ngFor="let warning of unreachableActivities">
              {{ warning.elementName }}
              <a [routerLink]="[]" (click)="focusElement(warning.elementId)">{{
                warning.name
              }}</a>
              can not be reached.
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
