<div class="modal-header">
  <h4 class="modal-title">
    <ng-content select="[modalTitle]"></ng-content>
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="dismiss.emit()"
  >
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close Window</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-warning">
    <ng-content></ng-content>
  </div>
</div>
<div class="modal-footer d-flex">
  <button type="button" class="btn btn-secondary" (click)="dismiss.emit()">
    Abort deletion
  </button>
  <button type="button" class="btn btn-danger ml-auto" (click)="delete.emit()">
    Delete anyway
  </button>
</div>
