<app-bm-process-edit-diagram
  [bmProcess]="runningProcess.process"
  (saveBmProcess)="saveBmProcess($event.processDiagram, $event.decisions)"
  (appendProcessPattern)="
    appendProcessPattern($event.nodeId, $event.processPattern)
  "
  (insertProcessPattern)="
    insertProcessPattern($event.nodeId, $event.processPattern)
  "
  (deleteProcessPattern)="deleteProcessPattern($event)"
  (insertDevelopmentMethod)="
    insertDevelopmentMethod($event.nodeId, $event.developmentMethod)
  "
  (removeDevelopmentMethod)="removeDevelopmentMethod($event)"
></app-bm-process-edit-diagram>

<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex align-items-baseline border-bottom border-gray mb-2">
      <h6 class="pb-2 mb-0">Removed Methods</h6>
    </div>
    <ng-container
      *ngIf="runningProcess.contextChangeInfo.removedMethods.length === 0"
    >
      No removed Methods.
    </ng-container>
    <ul
      class="list-group"
      *ngIf="runningProcess.contextChangeInfo.removedMethods.length > 0"
    >
      <li
        class="list-group-item"
        *ngFor="
          let removedMethod of runningProcess.contextChangeInfo.removedMethods
        "
      >
        <div class="d-flex justify-content-between align-items-baseline">
          {{ removedMethod.decision.method.name }}
          <button
            class="btn btn-dark btn-xs"
            (click)="removeRemovedMethod(removedMethod.id)"
          >
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>

  <app-context-edit
    [domains]="runningProcess.process.domains"
    [situationalFactors]="runningProcess.process.situationalFactors"
    (updateDomains)="updateDomains($event)"
    (updateSituationalFactors)="updateSituationalFactors($event)"
  ></app-context-edit>
</div>
