<div class="row">
  <div class="col mb-3">
    <label class="form-label" for="domainSelection{{ index }}">Domain</label>
    <div class="input-group">
      <input
        type="text"
        [formControl]="formControl"
        class="form-control"
        id="domainSelection{{ index }}"
        [ngbTypeahead]="searchDomains"
        [editable]="false"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        (selectItem)="selectItem($event)"
        (click)="openDomainInput.next($any($event.target).value)"
        (focus)="openDomainInput.next($any($event.target).value)"
      />
      <button (click)="remove.emit()" class="btn btn-secondary" type="button">
        Remove
      </button>
    </div>
  </div>
</div>
