<form [formGroup]="relationshipForm" (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label for="relationshipType" class="col-sm-4 col-form-label">Type of Relationship</label>
    <div class="col-sm-8">
      <select id="relationshipType" formControlName="relationshipType" class="form-control">
        <option [value]="'requires'" selected>A requires B</option>
        <option [value]="'excludes'">A excludes B</option>
        <option [value]="'supports'">A supports B</option>
        <option [value]="'hurts'">A hurts B</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="fromFeatureId" class="col-sm-4 col-form-label">Feature A</label>
    <div class="col-sm-8">
      <select id="fromFeatureId" formControlName="fromFeatureId" class="form-control">
        <option *ngFor="let fl of featureList; let i = index" [ngValue]="fl.id">{{fl.levelname}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="toFeatureId" class="col-sm-4 col-form-label">Feature B</label>
    <div class="col-sm-8">
      <select id="toFeatureId" formControlName="toFeatureId" class="form-control">
        <option *ngFor="let fl of featureList; let i = index" [ngValue]="fl.id">{{fl.levelname}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-sm btn-dark btn-block"
              [disabled]="!relationshipForm.valid">Add Cross-Tree Relationship
      </button>
    </div>
  </div>
</form>
