<div class="modal-header">
  <h4 class="modal-title">Method Pattern incomplete</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close Window</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-warning">
    The provided method pattern has errors. Please check it in the method
    pattern overview.
  </div>
</div>
<div class="modal-footer d-flex">
  <button type="button" class="btn btn-dark" (click)="dismiss()">Close</button>
  <button
    *ngIf="processPattern != null"
    type="button"
    class="btn btn-primary ml-auto"
    (click)="check()"
  >
    Check
  </button>
</div>
