<!-- View instances -->
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">{{ listTitle }}</h6>

  <ul class="list-group inner" style="margin: 5px">
    <li *ngFor="let instance of instances" class="list-group-item">
      <app-results-list-item
        [viewLink]="viewInstanceLink(instance)"
        (delete)="deleteInstance.emit(instance.id)"
      >
        <ng-container itemTitle>
          {{ instance.name }}
        </ng-container>
        <ng-container itemDescription>
          {{ instance.description }}
        </ng-container>
      </app-results-list-item>
    </li>
  </ul>
</div>

<!-- Add instance -->
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">{{ formTitle }}</h6>
  <div class="text-muted pt-3">
    <form [formGroup]="instanceForm" (ngSubmit)="addInstanceForwardEmitter()">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Instance Name</label>
        <div class="col-sm-8">
          <input
            type="text"
            formControlName="name"
            class="form-control"
            id="name"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button
            type="submit"
            class="btn btn-sm btn-dark btn-block"
            [disabled]="!instanceForm.valid"
          >
            {{ formTitle }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
