<ngb-accordion
  *ngIf="features"
  class="list-group inner"
  style="margin: 5px"
  (panelChange)="panelChange($event.panelId, $event.nextState)"
  [activeIds]="openPanels"
>
  <ngb-panel
    *ngFor="let f of asList(features)"
    [id]="f.fixId"
    class="list-group-item justify-content-between align-items-center"
  >
    <ng-template ngbPanelHeader>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-baseline">
          <ng-container *ngIf="f.type === 'mandatory'">
            <i
              class="fa fa-circle mr-1"
              aria-hidden="true"
              title="mandatory"
            ></i>
            <span class="sr-only">mandatory</span>
          </ng-container>
          <ng-container *ngIf="f.type === 'optional'">
            <i
              class="fa fa-circle-o mr-1"
              aria-hidden="true"
              title="optional"
            ></i>
            <span class="sr-only">optional</span>
          </ng-container>
          <button
            *ngIf="asList(f.subfeatures).length > 0"
            class="btn btn-link p-0 mr-1"
            ngbPanelToggle
          >
            {{ f.name }}
          </button>
          <button
            *ngIf="asList(f.subfeatures).length === 0"
            class="btn p-0 mr-1"
          >
            {{ f.name }}
          </button>
          <small class="text-muted mr-1" *ngIf="f.description">{{
            f.description
          }}</small>
          <ng-container *ngIf="f.subfeatureConnections === 'or'">
            <i
              class="fa fa-caret-up"
              aria-hidden="true"
              title="or subfeatures"
            ></i>
            <span class="sr-only">or subfeatures</span>
          </ng-container>
          <ng-container *ngIf="f.subfeatureConnections === 'xor'">
            <i
              class="fa fa-angle-up"
              aria-hidden="true"
              title="xor subfeatures"
            ></i>
            <span class="sr-only">xor subfeatures</span>
          </ng-container>
        </div>

        <div>
          <button
            type="button"
            *ngIf="!f.relationships.hasNoRelationships()"
            class="btn btn-dark btn-xs mr-1"
            (click)="openDependencies.emit(f.id)"
          >
            Show Dependencies
          </button>
          <button
            type="button"
            class="btn btn-primary btn-xs mr-1"
            *ngIf="f.expertModelTrace[expertModelId]"
            (click)="openTrace.emit(f.id)"
          >
            Show Trace
          </button>
          <button
            (click)="updateFeature.emit(f.id)"
            type="button"
            class="btn btn-warning btn-xs mr-1"
          >
            Update
          </button>
          <button
            *ngIf="f.parent != null"
            (click)="deleteFeature.emit(f.id)"
            type="button"
            class="btn btn-danger btn-xs mr-1"
          >
            Delete
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <app-merge-into-tree
        [features]="f.subfeatures"
        [expertModelId]="expertModelId"
        [openPanels]="openPanels"
        (openDependencies)="openDependencies.emit($event)"
        (openTrace)="openTrace.emit($event)"
        (updateFeature)="updateFeature.emit($event)"
        (deleteFeature)="deleteFeature.emit($event)"
      ></app-merge-into-tree>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
