<main
  *ngIf="runningProcess == null && errorLoading"
  role="main"
  class="container"
>
  <div class="alert alert-info my-3">
    <p>The running method can not be loaded.</p>
    <p class="mb-0">
      <a [routerLink]="['/', 'runningprocess']"
        >Go back to overview of running methods</a
      >
    </p>
  </div>
</main>

<main
  *ngIf="runningMethod == null && runningProcess != null && errorLoading"
  role="main"
  class="container"
>
  <div class="alert alert-info my-3">
    <p>
      Selected development step is currently not executed or has been canceled.
    </p>
    <p class="mb-0">
      <a
        [routerLink]="[
          '/',
          'runningprocess',
          'runningprocessview',
          runningProcess._id
        ]"
      >
        Go back to kanban board of running method
      </a>
    </p>
  </div>
</main>

<main
  *ngIf="runningProcess != null && runningMethod != null && !isCorrectStep"
  role="main"
  class="container"
>
  <div class="alert alert-info my-3">
    <p
      *ngIf="
        stepInfo != null &&
        stepInfo.step != null &&
        stepInfo.step > runningMethod.currentStepNumber
      "
    >
      This step cannot be executed yet, because the previous step has not been
      completed.
    </p>
    <p
      *ngIf="
        stepInfo != null &&
        stepInfo.step != null &&
        stepInfo.step < runningMethod.currentStepNumber
      "
    >
      Step already executed.
    </p>
    <p class="mb-0">
      <a
        [routerLink]="[
          '/',
          'runningprocess',
          'runningprocessview',
          runningProcess._id,
          'method',
          runningMethod.executionId
        ]"
      >
        Go back to development step overview
      </a>
    </p>
  </div>
</main>
