<table *ngIf="featureModel" class="table table-bordered canvas-table">
  <tbody>
  <tr *ngFor="let row of featureModel.definition.rows">
    <ng-container *ngFor="let cell of row">
      <td class="canvas-table-cell" *ngIf="!cell.isSpacer" [colSpan]="cell.colspan" [rowSpan]="cell.rowspan"
          [ngStyle]="getHeatmapStyle(cell.id)">
        <div class="canvas-table-block">
          <app-canvas-building-block
            [feature]="featureModel.features[cell.id]"
            [instance]="instance"
            [conformance]="conformance"
            [showWarnings]="conformanceOptions.showWarnings"
            [showStrengths]="conformanceOptions.showStrengths"
            [showHints]="conformanceOptions.showHints"
            [showPatternHints]="conformanceOptions.showPatternHints"
            [compareInstance]="compareInstance"
            [percentages]="percentages"
            [patternInstance]="patternInstance"
            [editable]="editable"
            (addFeatureEmitter)="addFeatureModal.emit($event)"
            (deleteFeatureEmitter)="deleteFeatureModal.emit($event)"></app-canvas-building-block>
        </div>
      </td>
      <td *ngIf="cell.isSpacer" [colSpan]="cell.colspan" [rowSpan]="cell.rowspan"></td>
    </ng-container>
  </tr>
  </tbody>
</table>
