<div class="row">
  <div class="col-3"><strong>Legend:</strong></div>
  <div class="col-3">
    <i class="bi bi-question-lg" aria-label="untested" title="untested"></i>
    Untested
  </div>
  <div class="col-3">
    <i class="bi bi-check-lg" aria-label="validated" title="validated"></i>
    Validated
  </div>
  <div class="col-3">
    <i class="bi bi-x-lg" aria-label="disapproved" title="disapproved"></i>
    Disapproved
  </div>
</div>
<div class="row">
  <div class="offset-6 col-3">
    <i class="bi bi-caret-up-square-fill" aria-label="and" title="and"></i>
    And
  </div>
  <div class="col-3">
    <i class="bi bi-chevron-up" aria-label="or" title="or"></i>
    Or
  </div>
</div>
<div class="row">
  <div class="offset-6 col-3">
    <ng-template #priorityIcon let-fill="fill">
      <i class="bi bi-square-fill" *ngIf="fill === 100"></i>
      <i class="bi bi-square" *ngIf="fill !== 100"></i>
    </ng-template>
    <ngb-rating
      [starTemplate]="priorityIcon"
      [max]="5"
      [readonly]="true"
      [rate]="3"
    ></ngb-rating>
    Priority
  </div>
  <div class="col-3" *ngIf="showEvidenceScore">
    <ngb-rating [max]="5" [readonly]="true" [rate]="3"></ngb-rating>
    Evidence Score
  </div>
</div>
