<div class="d-flex">
  <app-icon [icon]="icon"></app-icon>
  <div class="mx-2">
    <div>{{ name }}</div>
    <div
      *ngIf="description != null && description !== ''"
      class="text-muted small"
    >
      {{ description }}
    </div>
  </div>
  <div class="ms-auto d-flex align-items-start">
    <a
      *ngIf="showView"
      [routerLink]="viewLink"
      type="button"
      class="btn btn-primary btn-sm"
    >
      View
    </a>
    <ng-content select="[extraButtons]"></ng-content>
    <button
      *ngIf="showDelete"
      (click)="delete.emit()"
      type="button"
      class="btn btn-secondary btn-sm ms-1"
    >
      Delete
    </button>
  </div>
</div>
