html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

#wrapper {
  padding-top: 3.5rem;
}

/*
  Initial style by Bootstrap Offcanvas: https://getbootstrap.com/docs/4.3/examples/offcanvas/
*/
@media (max-width: 1199.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

/* Manage Lists */
.bottom-right {
  position: absolute;
  right: 8px;
}

.bottom-right-two {
  position: absolute;
  right: 68px;
}

.bottom-right-three {
  position: absolute;
  right: 132px;
}

.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.2rem;
}

/* Manage Canvas */
.businesscanvas {
  border: 3px #343a40 solid;
}

.buildingblock {
  border: 1px #343a40 solid;
}

.bsquare {
  min-height: 200px;
}

.blongtangle {
  min-height: 150px;
}

.no-list {
  list-style-type: none;
}

.businesscanvas {
  margin-top: 5px;
}

.two-col-special {
  border: 1px dotted blue;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.two-col-special li {
  display: inline-block;
  width: 45%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.two-col-special li:before {
  content: '+';
  padding: 5px;
  margin-right: 5px;
  color: orange;
  background-color: white;
  display: inline-block;
}

.carousel-item {
  text-align: center;
}

.carousel-image {
  max-width: 100%;
  max-height: 700px;
}

.rating {
  font-size: 1.5rem;
}

.show-new-lines {
  white-space: pre-wrap !important;
}

.font-bpmn-adaption {
  vertical-align: top;
}

.font-bpmn-adaption:before {
  font-size: 15pt;
}

.min-height-200-px {
  min-height: 200px !important;
}

.flex-1 {
  flex: 1;
}

.canvas-table {
  table-layout: fixed;
}

.canvas-table,
td.canvas-table-cell {
  border: 3px #343a40 solid;
}

.canvas-table-block {
  min-height: 200px;
}

/* Fix https://github.com/KillerCodeMonkey/ngx-quill/issues/352 */
.ql-container {
  height: auto;
}

.quill-lg-box > .ql-editor {
  min-height: 250px;
}
