<ng-template #multipleOptionsInfoModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Execution Error</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d()"
    ></button>
  </div>
  <div class="modal-body">
    You need to select one of the outgoing flows of the exclusive gateway to
    specify which path should be taken for the execution.
  </div>
</ng-template>

<app-running-process-base
  *ngIf="runningProcess != null"
  [runningProcess]="runningProcess"
  (focusNode)="focus($event)"
  (startNodeExecution)="startNodeExecution($event)"
>
  <app-running-process-viewer
    processView
    [runningProcess]="runningProcess"
  ></app-running-process-viewer>

  <div
    processControls
    class="my-3 sbmd-panel"
    *ngIf="decisions.length > 0 && !runningProcess.completed"
  >
    <h6 class="sbmd-panel-title">Decision</h6>
    <ul class="list-group">
      <li *ngFor="let decision of decisions" class="list-group-item">
        <div class="d-flex justify-content-between align-items-baseline">
          <h5>
            Exclusive Gateway<span
              *ngIf="decision.businessObject && decision.businessObject.name"
            >
              {{ decision.businessObject.name }}</span
            >
          </h5>
          <div class="d-flex align-items-baseline">
            <button
              (click)="focus(decision.id)"
              type="button"
              class="btn btn-dark btn-sm me-1"
            >
              View
            </button>
            <button
              (click)="executeStep(decision.id)"
              type="button"
              class="btn btn-primary btn-sm"
            >
              Next Step
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</app-running-process-base>
