<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" *ngIf="runningProcess != null">
    <a
      *ngIf="!runningProcess.contextChange"
      class="nav-link"
      [routerLink]="[
        '/',
        'runningprocess',
        'runningprocessview',
        runningProcess._id
      ]"
    >
      {{ runningProcess | runningProcessName }}
    </a>
    <a
      *ngIf="runningProcess.contextChange"
      class="nav-link"
      [routerLink]="['/', 'bmprocess']"
      >Business Model Development Methods</a
    >
    <a
      *ngIf="runningProcess.contextChange"
      class="nav-link"
      [routerLink]="['/', 'bmprocess', 'contextchange', runningProcess._id]"
    >
      Context Change: {{ runningProcess | runningProcessName }}
    </a>
    <a
      *ngIf="runningMethod != null"
      class="nav-link"
      [routerLink]="[
        '/',
        'runningprocess',
        'runningprocessview',
        runningProcess._id,
        'method',
        runningMethod.executionId
      ]"
    >
      {{ runningMethod.methodName }}
    </a>
    <ng-content></ng-content>
    <a class="nav-link active" [routerLink]="[]" [queryParams]="queryParams">
      {{ apiName ?? 'Step' }}
    </a>
  </nav>
  <nav class="nav nav-underline" *ngIf="artifact != null">
    <a class="nav-link" [routerLink]="['/', 'concreteArtifacts']">
      Concrete Artifacts
    </a>
    <a
      class="nav-link"
      [routerLink]="['/', 'concreteArtifacts', 'detail', artifact._id]"
    >
      {{ artifact.identifier }}
    </a>
    <a
      *ngIf="artifactVersion != null"
      class="nav-link"
      [routerLink]="['/', 'concreteArtifacts', 'detail', artifact._id]"
    >
      Version #{{ artifactVersion + 1 }}
    </a>
    <a
      class="nav-link active"
      [routerLink]="[]"
      [queryParams]="artifactQueryParams"
    >
      {{ apiName ?? 'Step' }}
    </a>
  </nav>
</div>
