<ng-template #deleteWhiteboardTemplateModal let-d="dismiss" let-c="close">
  <app-delete-modal
    (dismiss)="d()"
    (delete)="deleteWhiteboardTemplate(modalWhiteboardTemplate._id); c()"
  >
    <div modalTitle>
      Delete Whiteboard Template {{ modalWhiteboardTemplate.name }}
    </div>
    You are deleting the whiteboard template
    {{ modalWhiteboardTemplate.name }}. This can not be undone. This action will
    not delete the whiteboard template from whiteboard instances that are using
    it.
  </app-delete-modal>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" [routerLink]="[]">Whiteboard Templates</a>
    <a
      *ngFor="let whiteboardTemplate of whiteboardTemplatesList"
      class="nav-link"
      [routerLink]="[whiteboardTemplate._id]"
      >{{ whiteboardTemplate.name }}</a
    >
  </nav>
</div>

<main role="main" class="container">
  <div class="my-3 alert alert-info" role="alert">
    Create Whiteboard Templates to use them for Whiteboard Instances
  </div>

  <app-list-wrapper
    listTitle="Whiteboard Templates"
    [reloading]="reloading"
    [loading]="loading"
    [noResults]="noResults"
  >
    <div noResults>No Whiteboard Templates defined.</div>
    <ul results class="list-group">
      <li
        class="list-group-item"
        *ngFor="let whiteboardTemplate of whiteboardTemplatesList"
      >
        <app-results-list-item
          [viewLink]="[whiteboardTemplate._id]"
          (delete)="openDeleteWhiteboardTemplateModal(whiteboardTemplate)"
        >
          <ng-container itemTitle>
            {{ whiteboardTemplate.name }}
          </ng-container>
          <ng-container itemDescription>
            {{ whiteboardTemplate.description }}
          </ng-container>
          <app-author-info
            [author]="whiteboardTemplate.author"
          ></app-author-info>
        </app-results-list-item>
      </li>
    </ul>
  </app-list-wrapper>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Add Whiteboard Template</h6>
    <div class="text-muted pt-3">
      <form
        [formGroup]="whiteboardTemplateForm"
        (ngSubmit)="addWhiteboardTemplate(whiteboardTemplateForm)"
      >
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label"
            >Whiteboard Template Name</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button
              type="submit"
              class="btn btn-sm btn-dark btn-block"
              [disabled]="!whiteboardTemplateForm.valid"
            >
              Add Whiteboard Template
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
