<div
  *ngFor="let control of formArray.controls; let index = index"
  [formGroup]="$any(control)"
>
  <app-development-method-artifact-mapping
    [executionStepsFormValue]="executionStepsFormValue"
    [developmentMethod]="developmentMethod"
    [metaModel]="metaModel"
    [metaModelData]="metaModelData"
    [stepNumber]="stepNumber"
    (remove)="removeMapping(index)"
  ></app-development-method-artifact-mapping>
</div>
<div class="d-flex">
  <button type="button" class="ml-auto btn btn-primary" (click)="addMapping()">
    Add Mapping
  </button>
</div>
