<ng-template #showArtifactVersionModal let-d="dismiss">
  <app-concrete-artifact-show-version-modal
    [artifact]="artifact"
    [version]="modalVersion"
    (viewArtifactVersion)="viewArtifactVersion()"
    (editArtifactVersion)="editArtifactVersion()"
    (dismiss)="d()"
  ></app-concrete-artifact-show-version-modal>
</ng-template>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" *ngIf="artifact">
    <a class="nav-link" [routerLink]="['/', 'concreteArtifacts']">
      Concrete Artifacts
    </a>
    <a class="nav-link active" [routerLink]="[]">{{ artifact.identifier }}</a>
  </nav>
</div>

<main class="container" *ngIf="artifact">
  <div class="alert alert-info mt-3" role="alert">
    Update an artifact and view it.
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Artifact</h6>
    <app-concrete-artifact-form
      [artifact]="artifact"
      (submitArtifactForm)="updateIdentifier($event.value.identifier)"
    ></app-concrete-artifact-form>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Versions</h6>
    <ul class="list-group" *ngIf="artifact.versions.length > 0">
      <li
        class="list-group-item"
        *ngFor="let version of artifact.versions; let index = index"
      >
        <a [routerLink]="[]" (click)="openShowArtifactVersionModal(version)">
          Version #{{ index + 1 }}
        </a>
        &ndash; Imported from {{ version.importName }}
        &ndash;
        {{ version.time | date: 'short' }}
      </li>
    </ul>
  </div>
</main>
