<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" [routerLink]="['/', 'stakeholders']">Stakeholders</a>
    <a class="nav-link active" *ngIf="stakeholder" [routerLink]="[]">{{
      stakeholder.name
    }}</a>
  </nav>
</div>

<main class="container" *ngIf="stakeholder">
  <div class="alert alert-info mt-3" role="alert">
    Update a Stakeholder and define its values.
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2">Stakeholder</h6>
    <div class="text-muted">
      <app-method-element-form
        [methodElement]="stakeholder"
        [listNames]="listNames"
        (submitMethodElementForm)="updateValue($event.value)"
      ></app-method-element-form>
    </div>
  </div>
</main>
