<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ feature.name }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="closeModal.emit()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-warning" role="alert">
    <p>
      You are trying to remove the feature "{{ feature.name }}". Please keep in
      mind that you are removing also all subfeatures together with the
      corresponding dependencies.
    </p>
    <p>Moreover, the feature is also removed from all business canvases.</p>
    <p>
      Additionally all traces to canvas building blocks of this feature will be
      deleted.
    </p>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-block btn-warning"
    (click)="deletionResult.emit(feature.id)"
  >
    Delete Feature
  </button>
</div>
