<form [formGroup]="commentForm" (ngSubmit)="submit()">
  <div class="form-group form-row">
    <label for="userName" class="col-sm-4 col-form-label">User</label>
    <div class="col-sm-8">
      <input
        type="text"
        formControlName="userName"
        class="form-control"
        id="userName"
      />
    </div>
  </div>
  <div class="form-group form-row">
    <label for="title" class="col-sm-4 col-form-label">Title</label>
    <div class="col-sm-8">
      <input
        type="text"
        formControlName="title"
        class="form-control"
        id="title"
      />
    </div>
  </div>
  <div class="form-group form-row">
    <label for="comment" class="col-sm-4">Comment</label>
    <div class="col-sm-8">
      <quill-editor
        [styles]="{ 'min-height': '250px' }"
        formControlName="comment"
        id="comment"
      ></quill-editor>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-sm btn-dark btn-block"
        [disabled]="!commentForm.valid"
      >
        <ng-container *ngIf="comment == null">Add comment</ng-container>
        <ng-container *ngIf="comment != null">Edit comment</ng-container>
      </button>
    </div>
  </div>
</form>
